$RalewayFontPath: '../fonts/Raleway';
$RalewayFontFamily: 'Raleway';
$RalewayFontVersion: 1;

@mixin font-face($fontFamily, $fileName, $fontWeight, $fontStyle, $fontPath: $RalewayFontPath) {
    @font-face {
        font-family: $fontFamily;
        src: url('#{$fontPath}/#{$fileName}.eot');
        src: local('^'),
        // url('#{$fontPath}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
        url('#{$fontPath}/#{$fileName}.woff?v=#{$RalewayFontVersion}') format('woff'),
        url('#{$fontPath}/#{$fileName}.ttf?v=#{$RalewayFontVersion}') format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
    }
}

@include font-face($RalewayFontFamily, 'ralewayregular', 400, normal);
@include font-face($RalewayFontFamily, 'ralewaymedium', 500, normal);
@include font-face($RalewayFontFamily, 'ralewaysemibold', 600, normal);
@include font-face($RalewayFontFamily, 'ralewaybold', 700, normal);

//
$GothamProFontPath: '../fonts/GothamPro';
$GothamProFontFamily: 'GothamPro';
$GothamProFontVersion: 1;

@mixin font-face($fontFamily, $fileName, $fontWeight, $fontStyle, $fontPath: $GothamProFontPath) {
    @font-face {
        font-family: $fontFamily;
        src: url('#{$fontPath}/#{$fileName}.eot');
        src: local('^'),
        // url('#{$fontPath}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
        url('#{$fontPath}/#{$fileName}.woff?v=#{$GothamProFontVersion}') format('woff'),
        url('#{$fontPath}/#{$fileName}.ttf?v=#{$GothamProFontVersion}') format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
    }
}

@include font-face($GothamProFontFamily, 'GothamPro-Bold', 700, normal);


@mixin transition($all,$time) {
	-moz-transition: $all $time ease-in-out;
	-o-transition: $all $time ease-in-out;
	-webkit-transition: $all $time ease-in-out;
}

@keyframes btn_label {
	0%	{transform: rotate(0);}
	1%	{transform: rotate(-10deg);}
	5%	{transform: rotate(10deg);}
	10%	{transform: rotate(0);}
	100%	{transform: rotate(0);}
}

@keyframes circleAnimation {
    0% {transform: rotate(0);}
    30% {transform: rotate(10deg);}
    70% {transform: rotate(-10deg);}
}


$red: #F74F45;
$blue: #25377D;
