@import "params.scss";

@media only screen and (min-width : 1200px) {
    .container {
      max-width: 1180px;
    }
}

@media (max-width: 1399px) {
  /* CSS для ширины от 1199px до 1399px */
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .temp_hidden {
    display: none;
  }
  .header {
    &__search {
      display: none;
    }
    &__big_navi {
      padding: 50px 30px;
      ul {
        li {
          padding: 0;
          margin: 0;
          .a,
          a {
            display: inline-block;
            padding: 15px 0;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
    &__nav {
      width: 100%;
      margin-left: 0;
      .mobile_title {
        font: 400 21px/20px 'GothamPro';
				color: #29424D;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      ul {
        li {
          // margin-left: -30px;
          // margin-right: -30px;
          border-bottom: 1px solid #f2f2f2;
          a {
            color: #757575;
          }
        }
      }
    }
    &__links {
      margin-top: 0;
      &--search {
        display: inline-block;
      }
    }
  }
  .mobile_catalog {
    position: relative;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 500;
    &:after {
      position: absolute;
      right: 0;
      top: 18px;
      content: '';
      display: inline-block;
      margin-left: 12px;
      width: 8px;
      height: 8px;
      border-right: 2px solid #a1a1a1;
      border-bottom: 2px solid #a1a1a1;
      transform: rotate(45deg);
      @include transition(all, .2s);
    }
    + ul {
      display: none;
    }
    &.act {
      &:after {
        // top: 2px;
        transform: rotate(-135deg);
      }
      + ul {
        display: block;
      }
    }
  }
  .actions_index {
    margin-top: 30px;
    &__left {
      margin-bottom: 20px;
      .text_box {
        .title {
          font-size: 38px;
        }
      }
    }
    &__right {
      &--title {
        left: 20px;
        padding-right: 170px;
      }
    }
  }
  .product_cart {
    &__box {
      padding-left: 15px;
      padding-right: 15px;
    }
    &__title {
      text-align: left;
    }
  }
  .step_order_cart {
    .order-1 {
      .white_box {
        margin-bottom: 30px;
      }
    }
  }
  .inner_product {
    .product {
      &__img {
  			padding: 10px;
  			&--sm {
  				border: 1px solid #efefef;
  				width: 50px;
  				height: 50px;
  				padding: 10px;
  				display: flex;
      		align-items: center;
  				img {
  					max-width: 100%;
  				}
  			}
  		}
    }
  }
  .row_form {
    margin-bottom: 20px;
    ul {
      li {
        display: inline-block;
        margin-right: 60px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    input {
      width: 48.5%;
      margin-right: 3%;
      float: left;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &.agree {
      label {
        width: 100%;
      }
    }
    &.userinfo {
      margin-bottom: 40px;
      input {
        width: 100%;
        margin-right: 0;
      }
    }
    &.adress {
      margin-bottom: 30px;
      input {
        width: 100%;
        float: none;
      }
    }
    &.password {
      input {
        &:first-child {
          width: 100%;
        }
        &:nth-child(even) {
          margin-right: 3%;
        }
        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  }
  .product {
    &__favourites {
      text-indent: -9999px;
      &.outstock {
        text-indent: 0;
        margin-bottom: 0 !important;
      }
    }
  }
  .tab_review_box {
    width: 100%;
  }
  footer {
    margin-top: 80px;
  }
  .footer {
    &__copy {
      &--2 {
        margin-bottom: 20px;
      }
    }
    &__pay {
      span {
        display: block;
      }
    }
  }
  .contacts {
    .white_box {
      input {
        width: 48.5%;
        margin-right: 3%;
        float: left;
        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
    .row-map {
      margin-bottom: -64px;
    }
  }
  .row_cart {
    &__title {
      width: 330px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &__price {
      display: inline-block;
      margin-top: 10px;
      .old {
        float: right;
        margin-left: 15px;
      }
      &--total {
        margin-top: -20px;
        margin-bottom: 20px;
      }
    }
    &__count {
      margin-right: 30px;
    }
    &__delete {
      text-align: center;
      margin-top: 20px;
    }
  }
  .mb30 {
    margin-bottom: 30px;
  }
  #dark_bg {
    z-index: 1000;
  }
  .dark_bg_close {
    &.act {
      display: block;
    }
  }
  .header_big_n {
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    z-index: 1500;
    &.act {
      left: -15px;
      .header__big_navi {
      }
    }
    .header__big_navi {
      ul {
        li {
          width: 100%;
          &.subcat {
            > .a {
              width: 100%;
              &:after {
                position: absolute;
                right: 0;
                top: 15px;
              }
            }
            &.act {
              > .a {
                &:after {
                  top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */

}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .h1, h1 {
    font-size: 28px;
    &.pagetitle {
      margin-bottom: 30px;
    }
  }
  .h2, h2 {
    font-size: 21px;
  }
  header {
    padding: 25px 0 15px;
  }
  .header {
    &__phone {
      margin-top: 0;
      a {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__links {
      margin-top: 0;
      ul {
        li {
          width: 20px;
          margin-right: 10px;
          a {
            display: block;
            font-size: 0;
          }
        }
      }
      &--user {
        padding-right: 0;
        &:after {
          display: none;
        }
        .dropdown_menu {
          display: none !important;
        }
      }
    }
  }
  .header_big_n {
    .header__big_navi {
      ul {
        li {
          &.subcat {
            .a {
              padding-right: 30px;
            }
          }
          ul {
            margin-top: 0;
          }
        }
      }
    }
  }
  .contacts {
    .white_box {
      input {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 20px;
      }
    }
  }
  .header_big_n {
    width: 90%;
  }
  .white_box {
    padding: 40px 20px 30px;
    &.filter {
      padding: 15px 25px 25px 25px;
      padding-bottom: 0;
      form {
        display: none;
        margin-top: 15px;
      }
    }
  }
  .filter__row {
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:last-child {
      margin-top: 30px;
    }
  }
  .filter {
    .act_filter {
      padding-bottom: 15px;
    }
    &__name {
      font-size: 14px;
    }
  }
  .row_form {
    &__title {
      color: #474747;
      font-size: 14px;
    }
    input {
      width: 100%;
      margin-right: 0;
    }
  }
  .footer {
    &__navi {
      margin-top: 30px;
      li {
        padding-right: 20px;
      }
    }
    &__block2 {
      display: flex;
      flex-wrap: wrap;
    }
    &__mail {
      margin-bottom: 0;
    }
    &__addr {
      margin-top: 10px;
    }
    &__phone {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      a {
        display: inline-block;
      }
    }
    &__copy {
      &--1 {
        text-align: center;
        span {
          display: block;
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
      &--2 {
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
  .inner_product {
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    .product_article {
      margin-bottom: 20px;
    }
    .product_top_char {
      display: block;
      margin-bottom: 10px;
    }
    .product {
      &__img {
  			&--sm {
  				width: 50px;
  				height: 50px;
  			}
  		}
      &__addcart {
        a {
          width: auto;
          display: inline-block;
        }
        a.btn {
  				flex-grow: 1;
          margin-right: 30px;
  			}
      }
    }
    .product__favourites {
      float: right;
      font-size: 0;
      &:before {
        margin-right: 0;
      }
    }
    .add_review {
      display: none;
      &.top {
        position: absolute;
        top: 11px;
        right: 20px;
        display: inline-block;
        font-size: 13px;
      }
    }
    .row-2 {
      .white_box {
        overflow: inherit;
      }
    }
    .tab-content {
      padding: 25px 20px;
    }
    .dropdown_menu {
      display: inline-block;
      margin-top: 25px;
      margin-left: 20px;
      .dropdown_list {
        left: 0;
        right: inherit;
      }
      .dropdown_select {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
  .actions_index {
    margin-top: 0;
    // padding: 0;
    &__left {
      background: #BDE0F0;
      margin-bottom: 15px;
      .text_box {
        position: absolute;
        top: unset;
        left: 0;
        bottom: 50px;
        transform: none;
        padding-right: 0;
        text-align: center;
        .title {
          font-size: 18px;
          line-height: 22px;
          padding: 0 50px;
        }
      }
      &--img {
        position: relative;
        height: 360px;
        background-position: 50% 30px !important;
        background-size: 100px !important;
      }
    }
    &__right {
      .box {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }
  .index_popular,
  .index_sale,
  .partners {
    margin-top: 50px;
    .link_right {
      text-align: center;
      margin-top: -35px;
      margin-bottom: 20px;
    }
  }
  .partners {
    .owl-carousel.owl-drag .owl-item {
      opacity: .3;
      &.active.center {
        opacity: 1;
      }
    }
  }
  .owl-carousel {
    &.width-sm {
      .owl-item {
        // padding-right: 100px;
        max-width: 250px;
        // width: 250px !important;
        // margin-left: -30px;
        // &.active {
        //   margin-left: 0;
        //   margin-right: 50px;
        // }
      }
    }
  }
  .mb30 {
    margin-bottom: 20px;
  }
  .contacts {
    .h2 {
      font-size: 18px;
    }
    .row-map {
      > div {
        padding: 0;
      }
    }
  }
  .view_cart {
    .row_cart {
      &__title {
        padding-right: 0;
        padding-left: 20px;
        .label {
          position: absolute;
          left: 15px;
          > div {
            display: block;
            width: fit-content;
          }
        }
      }
      &__price {
        // float: left;
        position: relative;
        margin-top: 15px;
        width: 70%;
        .old {
          // position: absolute;
          // bottom: -30px;
          width: 100%;
          margin-top: 5px;
          margin-left: 0;
          margin-bottom: 0;
        }
        &--total {
          display: none;
        }
      }
      &__count {
        // width: 100%;
        margin-top: 15px;
        margin-right: 0;
      }
      &__delete {
        display: inline-block;
        margin-top: 15px;
        float: right;
        width: auto;
        a {
          &:before {
            display: none;
          }
        }
      }
      &__addcart {
        width: 100%;
        margin-top: 20px;
        a {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .cart_total {
      margin-bottom: 20px;
    }
  }
  .paginator {
    li {
      margin: 0 5px;
      &:first-child,
      &:last-child {
        a {
          text-indent: -9999px;
          margin: 0;
          padding: 0;
        }
        &:after {
          margin-left: -20px;
          display: inline-block;
          content: '';
          width: 7px;
          height: 7px;
          border-right: 1px solid #a4a4a4;
          border-bottom: 1px solid #a4a4a4;
          transform: rotate(-45deg);
        }
        &:hover {
          &:after {
            border-color: #fff;
          }
        }
      }
      &:first-child {
        &:after {
          transform: rotate(135deg);
          margin-left: -17px;
        }
      }
      &:first-child a {
        margin-left: -15px;
      }
      &:last-child a {
        margin-left: -10px;
      }
    }
  }
  .product_cart {
    margin-bottom: 15px;
  }
  .search_result {
    &__category {
      padding-left: 90px;
      span {
        margin-left: -90px;
        margin-right: 8px;
      }
    }
  }
  .product_category,
  .search_result,
  .order_done {
    .product_cart__box {
      padding-left: 75px;
      padding-right: 75px;
    }
    &__number {
      margin-top: -10px;
    }
    &__text {
      margin-bottom: 35px;
    }
  }
  .modal {
    .close {
      right: -15px;
    }
    &-dialog {
      max-width: none;
    }
  }
  .error404 {
    &__aibolit {
      display: none;
    }
  }
  .user_cabinet {
    .white_box {

    }
  }
  .icon_soc {
     img {
       margin-right: 10px;
     }
  }
  .mb20 {
    margin-bottom: 20px;
  }
  .row_order_cart {
    &__price {
      float: inherit;
    }
  }
  .row_form.agree {
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      float: inherit;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .product {
    &__favourites {
      &.full {
        float: inherit;
        font-size: 14px;
        &:before {
          margin-right: 10px;
        }
      }
    }
  }
  .before_category {
    margin-top: 50px;
  }
  .tab_review_box {
    .name {
      display: block;
      width: 100%;
    }
    .desc {
      padding: 0;
    }
  }
  .m-hidden {
    display: none !important;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */

}
