@charset "UTF-8";
@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewayregular.eot"); src: local("^"), url("../fonts/Raleway/ralewayregular.woff?v=1") format("woff"), url("../fonts/Raleway/ralewayregular.ttf?v=1") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewaymedium.eot"); src: local("^"), url("../fonts/Raleway/ralewaymedium.woff?v=1") format("woff"), url("../fonts/Raleway/ralewaymedium.ttf?v=1") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewaysemibold.eot"); src: local("^"), url("../fonts/Raleway/ralewaysemibold.woff?v=1") format("woff"), url("../fonts/Raleway/ralewaysemibold.ttf?v=1") format("truetype"); font-weight: 600; font-style: normal; }

@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewaybold.eot"); src: local("^"), url("../fonts/Raleway/ralewaybold.woff?v=1") format("woff"), url("../fonts/Raleway/ralewaybold.ttf?v=1") format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: "GothamPro"; src: url("../fonts/GothamPro/GothamPro-Bold.eot"); src: local("^"), url("../fonts/GothamPro/GothamPro-Bold.woff?v=1") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf?v=1") format("truetype"); font-weight: 700; font-style: normal; }

@keyframes btn_label { 0% { transform: rotate(0); }
  1% { transform: rotate(-10deg); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(0); }
  100% { transform: rotate(0); } }

@keyframes circleAnimation { 0% { transform: rotate(0); }
  30% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); } }

@media only screen and (min-width: 1200px) { .container { max-width: 1180px; } }

@media (max-width: 1399px) { /* CSS для ширины от 1199px до 1399px */ }

/* lg-размер (<=1199px) */
@media (max-width: 1199px) { /* CSS для ширины от 992px до 1199px */
  .temp_hidden { display: none; }
  .header__search { display: none; }
  .header__big_navi { padding: 50px 30px; }
  .header__big_navi ul li { padding: 0; margin: 0; }
  .header__big_navi ul li .a, .header__big_navi ul li a { display: inline-block; padding: 15px 0; font-size: 15px; font-weight: 500; }
  .header__nav { width: 100%; margin-left: 0; }
  .header__nav .mobile_title { font: 400 21px/20px 'GothamPro'; color: #29424D; text-transform: uppercase; margin-bottom: 20px; }
  .header__nav ul li { border-bottom: 1px solid #f2f2f2; }
  .header__nav ul li a { color: #757575; }
  .header__links { margin-top: 0; }
  .header__links--search { display: inline-block; }
  .mobile_catalog { position: relative; padding: 15px 0; font-size: 15px; font-weight: 500; }
  .mobile_catalog:after { position: absolute; right: 0; top: 18px; content: ''; display: inline-block; margin-left: 12px; width: 8px; height: 8px; border-right: 2px solid #a1a1a1; border-bottom: 2px solid #a1a1a1; transform: rotate(45deg); -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
  .mobile_catalog + ul { display: none; }
  .mobile_catalog.act:after { transform: rotate(-135deg); }
  .mobile_catalog.act + ul { display: block; }
  .actions_index { margin-top: 30px; }
  .actions_index__left { margin-bottom: 20px; }
  .actions_index__left .text_box .title { font-size: 38px; }
  .actions_index__right--title { left: 20px; padding-right: 170px; }
  .product_cart__box { padding-left: 15px; padding-right: 15px; }
  .product_cart__title { text-align: left; }
  .step_order_cart .order-1 .white_box { margin-bottom: 30px; }
  .inner_product .product__img { padding: 10px; }
  .inner_product .product__img--sm { border: 1px solid #efefef; width: 50px; height: 50px; padding: 10px; display: flex; align-items: center; }
  .inner_product .product__img--sm img { max-width: 100%; }
  .row_form { margin-bottom: 20px; }
  .row_form ul li { display: inline-block; margin-right: 60px; }
  .row_form ul li:last-child { margin-right: 0; }
  .row_form input { width: 48.5%; margin-right: 3%; float: left; }
  .row_form input:nth-child(even) { margin-right: 0; }
  .row_form:after { content: ''; display: table; clear: both; }
  .row_form.agree label { width: 100%; }
  .row_form.userinfo { margin-bottom: 40px; }
  .row_form.userinfo input { width: 100%; margin-right: 0; }
  .row_form.adress { margin-bottom: 30px; }
  .row_form.adress input { width: 100%; float: none; }
  .row_form.password input:first-child { width: 100%; }
  .row_form.password input:nth-child(even) { margin-right: 3%; }
  .row_form.password input:nth-child(odd) { margin-right: 0; }
  .product__favourites { text-indent: -9999px; }
  .product__favourites.outstock { text-indent: 0; margin-bottom: 0 !important; }
  .tab_review_box { width: 100%; }
  footer { margin-top: 80px; }
  .footer__copy--2 { margin-bottom: 20px; }
  .footer__pay span { display: block; }
  .contacts .white_box input { width: 48.5%; margin-right: 3%; float: left; }
  .contacts .white_box input:nth-child(even) { margin-right: 0; }
  .contacts .row-map { margin-bottom: -64px; }
  .row_cart__title { width: 330px; padding-left: 30px; padding-right: 30px; }
  .row_cart__price { display: inline-block; margin-top: 10px; }
  .row_cart__price .old { float: right; margin-left: 15px; }
  .row_cart__price--total { margin-top: -20px; margin-bottom: 20px; }
  .row_cart__count { margin-right: 30px; }
  .row_cart__delete { text-align: center; margin-top: 20px; }
  .mb30 { margin-bottom: 30px; }
  #dark_bg { z-index: 1000; }
  .dark_bg_close.act { display: block; }
  .header_big_n { position: absolute; top: 0; left: -100%; width: 60%; z-index: 1500; }
  .header_big_n.act { left: -15px; }
  .header_big_n .header__big_navi ul li { width: 100%; }
  .header_big_n .header__big_navi ul li.subcat > .a { width: 100%; }
  .header_big_n .header__big_navi ul li.subcat > .a:after { position: absolute; right: 0; top: 15px; }
  .header_big_n .header__big_navi ul li.subcat.act > .a:after { top: 20px; } }

/* md-размер (<=991px) */
@media (max-width: 991px) { /* CSS для ширины от 768px до 991px */ }

/* sm-размер (<=768px) */
@media (max-width: 767px) { /* CSS для ширины от 576px до 767px */
  .h1, h1 { font-size: 28px; }
  .h1.pagetitle, h1.pagetitle { margin-bottom: 30px; }
  .h2, h2 { font-size: 21px; }
  header { padding: 25px 0 15px; }
  .header__phone { margin-top: 0; }
  .header__phone a { display: block; margin-right: 0; margin-bottom: 10px; }
  .header__phone a:last-child { margin-bottom: 0; }
  .header__links { margin-top: 0; }
  .header__links ul li { width: 20px; margin-right: 10px; }
  .header__links ul li a { display: block; font-size: 0; }
  .header__links--user { padding-right: 0; }
  .header__links--user:after { display: none; }
  .header__links--user .dropdown_menu { display: none !important; }
  .header_big_n .header__big_navi ul li.subcat .a { padding-right: 30px; }
  .header_big_n .header__big_navi ul li ul { margin-top: 0; }
  .contacts .white_box input { width: 100%; margin-right: 0; float: none; margin-bottom: 20px; }
  .header_big_n { width: 90%; }
  .white_box { padding: 40px 20px 30px; }
  .white_box.filter { padding: 15px 25px 25px 25px; padding-bottom: 0; }
  .white_box.filter form { display: none; margin-top: 15px; }
  .filter__row { padding-bottom: 15px; margin-bottom: 15px; }
  .filter__row:last-child { margin-top: 30px; }
  .filter .act_filter { padding-bottom: 15px; }
  .filter__name { font-size: 14px; }
  .row_form__title { color: #474747; font-size: 14px; }
  .row_form input { width: 100%; margin-right: 0; }
  .footer__navi { margin-top: 30px; }
  .footer__navi li { padding-right: 20px; }
  .footer__block2 { display: flex; flex-wrap: wrap; }
  .footer__mail { margin-bottom: 0; }
  .footer__addr { margin-top: 10px; }
  .footer__phone { display: flex; flex-direction: column; margin-right: 30px; }
  .footer__phone a { display: inline-block; }
  .footer__copy--1 { text-align: center; }
  .footer__copy--1 span { display: block; margin-bottom: 10px; margin-right: 0; }
  .footer__copy--2 { text-align: center; margin-bottom: 30px; }
  .inner_product h1 { text-align: center; margin-bottom: 30px; }
  .inner_product .product_article { margin-bottom: 20px; }
  .inner_product .product_top_char { display: block; margin-bottom: 10px; }
  .inner_product .product__img--sm { width: 50px; height: 50px; }
  .inner_product .product__addcart a { width: auto; display: inline-block; }
  .inner_product .product__addcart a.btn { flex-grow: 1; margin-right: 30px; }
  .inner_product .product__favourites { float: right; font-size: 0; }
  .inner_product .product__favourites:before { margin-right: 0; }
  .inner_product .add_review { display: none; }
  .inner_product .add_review.top { position: absolute; top: 11px; right: 20px; display: inline-block; font-size: 13px; }
  .inner_product .row-2 .white_box { overflow: inherit; }
  .inner_product .tab-content { padding: 25px 20px; }
  .inner_product .dropdown_menu { display: inline-block; margin-top: 25px; margin-left: 20px; }
  .inner_product .dropdown_menu .dropdown_list { left: 0; right: inherit; }
  .inner_product .dropdown_menu .dropdown_select { font-size: 15px; font-weight: 600; }
  .actions_index { margin-top: 0; }
  .actions_index__left { background: #BDE0F0; margin-bottom: 15px; }
  .actions_index__left .text_box { position: absolute; top: unset; left: 0; bottom: 50px; transform: none; padding-right: 0; text-align: center; }
  .actions_index__left .text_box .title { font-size: 18px; line-height: 22px; padding: 0 50px; }
  .actions_index__left--img { position: relative; height: 360px; background-position: 50% 30px !important; background-size: 100px !important; }
  .actions_index__right .box:first-child { margin-bottom: 15px; }
  .index_popular, .index_sale, .partners { margin-top: 50px; }
  .index_popular .link_right, .index_sale .link_right, .partners .link_right { text-align: center; margin-top: -35px; margin-bottom: 20px; }
  .partners .owl-carousel.owl-drag .owl-item { opacity: .3; }
  .partners .owl-carousel.owl-drag .owl-item.active.center { opacity: 1; }
  .owl-carousel.width-sm .owl-item { max-width: 250px; }
  .mb30 { margin-bottom: 20px; }
  .contacts .h2 { font-size: 18px; }
  .contacts .row-map > div { padding: 0; }
  .view_cart .row_cart__title { padding-right: 0; padding-left: 20px; }
  .view_cart .row_cart__title .label { position: absolute; left: 15px; }
  .view_cart .row_cart__title .label > div { display: block; width: fit-content; }
  .view_cart .row_cart__price { position: relative; margin-top: 15px; width: 70%; }
  .view_cart .row_cart__price .old { width: 100%; margin-top: 5px; margin-left: 0; margin-bottom: 0; }
  .view_cart .row_cart__price--total { display: none; }
  .view_cart .row_cart__count { margin-top: 15px; margin-right: 0; }
  .view_cart .row_cart__delete { display: inline-block; margin-top: 15px; float: right; width: auto; }
  .view_cart .row_cart__delete a:before { display: none; }
  .view_cart .row_cart__addcart { width: 100%; margin-top: 20px; }
  .view_cart .row_cart__addcart a { padding-left: 0; padding-right: 0; }
  .view_cart .cart_total { margin-bottom: 20px; }
  .paginator li { margin: 0 5px; }
  .paginator li:first-child a, .paginator li:last-child a { text-indent: -9999px; margin: 0; padding: 0; }
  .paginator li:first-child:after, .paginator li:last-child:after { margin-left: -20px; display: inline-block; content: ''; width: 7px; height: 7px; border-right: 1px solid #a4a4a4; border-bottom: 1px solid #a4a4a4; transform: rotate(-45deg); }
  .paginator li:first-child:hover:after, .paginator li:last-child:hover:after { border-color: #fff; }
  .paginator li:first-child:after { transform: rotate(135deg); margin-left: -17px; }
  .paginator li:first-child a { margin-left: -15px; }
  .paginator li:last-child a { margin-left: -10px; }
  .product_cart { margin-bottom: 15px; }
  .search_result__category { padding-left: 90px; }
  .search_result__category span { margin-left: -90px; margin-right: 8px; }
  .product_category .product_cart__box, .search_result .product_cart__box, .order_done .product_cart__box { padding-left: 75px; padding-right: 75px; }
  .product_category__number, .search_result__number, .order_done__number { margin-top: -10px; }
  .product_category__text, .search_result__text, .order_done__text { margin-bottom: 35px; }
  .modal .close { right: -15px; }
  .modal-dialog { max-width: none; }
  .error404__aibolit { display: none; }
  .icon_soc img { margin-right: 10px; }
  .mb20 { margin-bottom: 20px; }
  .row_order_cart__price { float: inherit; }
  .row_form.agree .left { width: 100%; }
  .row_form.agree .right { width: 100%; float: inherit; text-align: left; margin-top: 30px; margin-bottom: 30px; }
  .product__favourites.full { float: inherit; font-size: 14px; }
  .product__favourites.full:before { margin-right: 10px; }
  .before_category { margin-top: 50px; }
  .tab_review_box .name { display: block; width: 100%; }
  .tab_review_box .desc { padding: 0; }
  .m-hidden { display: none !important; } }

/* xs-размер (<=575px) */
@media (max-width: 575px) { /* CSS для ширины до 575px (включительно) */ }
