@charset "UTF-8";
@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewayregular.eot"); src: local("^"), url("../fonts/Raleway/ralewayregular.woff?v=1") format("woff"), url("../fonts/Raleway/ralewayregular.ttf?v=1") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewaymedium.eot"); src: local("^"), url("../fonts/Raleway/ralewaymedium.woff?v=1") format("woff"), url("../fonts/Raleway/ralewaymedium.ttf?v=1") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewaysemibold.eot"); src: local("^"), url("../fonts/Raleway/ralewaysemibold.woff?v=1") format("woff"), url("../fonts/Raleway/ralewaysemibold.ttf?v=1") format("truetype"); font-weight: 600; font-style: normal; }

@font-face { font-family: "Raleway"; src: url("../fonts/Raleway/ralewaybold.eot"); src: local("^"), url("../fonts/Raleway/ralewaybold.woff?v=1") format("woff"), url("../fonts/Raleway/ralewaybold.ttf?v=1") format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: "GothamPro"; src: url("../fonts/GothamPro/GothamPro-Bold.eot"); src: local("^"), url("../fonts/GothamPro/GothamPro-Bold.woff?v=1") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf?v=1") format("truetype"); font-weight: 700; font-style: normal; }

@keyframes btn_label { 0% { transform: rotate(0); }
  1% { transform: rotate(-10deg); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(0); }
  100% { transform: rotate(0); } }

@keyframes circleAnimation { 0% { transform: rotate(0); }
  30% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); } }

html, body { background: #fcfcfc; font: 400 14px/16px "Raleway", Arial !important; color: #474747 !important; font-variant-numeric: lining-nums; -moz-font-feature-settings: "lnum"; -webkit-font-feature-settings: "lnum"; -ms-font-feature-settings: "lnum"; -ms-font-feature-settings: "lnum" 1; }

body { height: 100%; }

body.act { overflow: hidden; }

a { color: #0076BF; text-decoration: underline; outline: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

a:hover { text-decoration: none; color: #F74F45; }

h1, .h1 { font: 700 36px/34px 'GothamPro'; margin: 0; color: #474747; }

h2, .h2 { font: 700 28px/33px 'Raleway'; margin: 0; }

p { color: #636363; font: 400 13px/19px 'Raleway'; letter-spacing: .6px; margin-bottom: 20px; text-indent: 10px; }

p .img-fluid { margin-left: -10px; }

::-webkit-input-placeholder { color: #a4a4a4; opacity: 1; }

/* webkit */
::-moz-placeholder { color: #a4a4a4; opacity: 1; }

/* Firefox 19+ */
:-moz-placeholder { color: #a4a4a4; opacity: 1; }

/* Firefox 18- */
:-ms-input-placeholder { color: #a4a4a4; opacity: 1; }

/* IE */
button { cursor: pointer; outline: none; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

textarea, input { outline: none; }

textarea:active, textarea:focus, input:active, input:focus { border-color: #bdbbbb !important; }

.red { color: #F74F45; }

.w-100 { width: 100%; }

.mb30 { margin-bottom: 30px; }

.h80 { height: 80px; }

.btn { position: relative; font-size: 13px; font-weight: 600; padding: 14px 60px; border-radius: 50px; box-shadow: 0 20px 12px -15px rgba(42, 58, 121, 0.2); -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.btn:focus { box-shadow: none; }

.btn-red { color: #fff; background: #F74F45; text-decoration: none; }

.btn-red a { color: #fff; text-decoration: none; }

.btn-red:hover { color: #fff; background: #f52114; }

.btn-blue { background: #25377D; color: #fff !important; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.btn-blue a { color: #fff !important; text-decoration: none; }

.btn-blue:hover { color: #fff; background: #192656; }

.btn-grey { display: inline-block; border: 1px solid #E4E4E4; color: #a4a4a4; font-weight: 500; font-size: 13px; text-align: center; padding: 10px 0; width: 100%; border-radius: 50px; margin-top: 30px; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.btn-grey:hover { color: #a4a4a4; background: #f5f4f4; text-decoration: none; }

.btn-sm { padding: 8px 40px; text-decoration: none; }

.btn-sm a { text-decoration: none; }

header { position: relative; background: #fff; padding: 35px 0 30px; border-bottom: 1px solid #EFEFEF; z-index: 160; }

header a { text-decoration: none; }

.header { font-weight: 600; color: #474747; }

.header a { color: #474747; font-size: 14px; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.header a:hover { color: #F74F45; }

.header .row-2 { margin-top: 30px; }

.header__logo { display: inline-block; }

.header__nav { display: inline-block; margin-left: 42px; }

.header__nav ul { margin: 0; padding: 0; list-style: none; }

.header__nav ul li { margin-right: 55px; float: left; }

.header__nav ul li.action a { color: #F74F45; }

.header__nav ul li:last-child { margin-right: 0; }

.header__phone { display: inline-block; margin-top: 10px; float: right; }

.header__phone a { font-size: 16px; color: #25377D; margin-right: 61px; text-decoration: none; }

.header__phone a:last-child { margin-right: 0; }

.header__mainNavi { display: inline-block; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.header__mainNavi a { text-decoration: none; }

.header__mainNavi:hover .hamb_menu:not(.act) span:first-child { position: relative; top: -1px; }

.header__mainNavi:hover .hamb_menu:not(.act) span:last-child { position: relative; bottom: -1px; }

.header__search { display: inline-block; margin-left: 48px; width: 490px; }

.header__search form { display: flex; }

.header__search input[type="text"] { border: 1px solid #EFEFEF; border-radius: 8px 0 0 8px; width: 100%; font-size: 13px; font-weight: 500; color: #a4a4a4; padding-left: 28px; outline: none; }

.header__search button { font-size: 13px; font-weight: 600; padding: 10px 40px; border: 0; border-radius: 0 8px 8px 0; outline: none; }

.header__links { display: inline-block; float: right; margin-top: 9px; }

.header__links ul { margin: 0; padding: 0; list-style: none; }

.header__links ul li { float: left; margin-right: 40px; }

.header__links ul li a { position: relative; display: inline-block; }

.header__links ul li:last-child { margin-right: 0; }

.header__links--search { display: none; position: relative; padding-left: 25px; }

.header__links--search a:before { position: absolute; top: 0; left: -25px; display: inline-block; content: ''; width: 14px; height: 14px; background: url(../img/icon-search.svg); }

.header__links--fav { position: relative; padding-left: 25px; }

.header__links--fav a:before { position: absolute; top: 0; left: -25px; display: inline-block; content: ''; width: 17px; height: 14px; background: url(../img/icon-heart.svg); }

.header__links--cart { position: relative; padding-left: 34px; }

.header__links--cart a:before { position: absolute; top: 0; left: -34px; display: inline-block; content: ''; width: 16px; height: 16px; background: url(../img/icon-cart.svg); }

.header__links--cart span { position: absolute; top: -12px; left: -20px; background: #F74F45; font-size: 11px; line-height: 13px; color: #fff; padding: 1px 7px; border-radius: 50px; }

.header__links--user { position: relative; padding-left: 21px; padding-right: 30px; }

.header__links--user a.link:before { position: absolute; top: 0; left: -21px; display: inline-block; content: ''; width: 13px; height: 16px; background: url(../img/icon-user.svg); }

.header__links--user:after { position: absolute; top: 3px; right: 2px; display: inline-block; content: ''; border-right: 1px solid #474747; border-bottom: 1px solid #474747; width: 6px; height: 6px; transform: rotate(45deg); }

.header__links--user:after { position: absolute; top: 3px; right: 2px; display: inline-block; content: ''; border-right: 1px solid #474747; border-bottom: 1px solid #474747; width: 6px; height: 6px; transform: rotate(45deg); }

.header__links--user.no_user { padding-right: 0; }

.header__links--user.no_user:after { display: none; }

.header__links--user .dropdown_menu { display: none; position: absolute; top: 0; right: 0; background: #fff; }

.header__links--user .dropdown_menu span { display: block; }

.header__links--user .dropdown_menu .dropdown_list { display: block; margin-top: 10px; }

.header__links--user .dropdown_menu .dropdown_list:before { position: absolute; top: -10px; left: 0; content: ''; display: inline-block; width: 100%; height: 30px; }

.header__links--user:hover .dropdown_menu { display: block; }

.header__big_navi { position: absolute; left: 15px; right: 15px; background: #fff; padding: 50px 40px; z-index: 500; }

.header__big_navi.act { display: block; }

.header__big_navi ul { margin: 0; padding: 0; list-style: none; }

.header__big_navi ul li { width: 33%; display: inline-block; margin-bottom: 25px; }

.header__big_navi ul li a, .header__big_navi ul li .a { cursor: pointer; font-weight: 600; font-size: 13px; color: #474747; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.header__big_navi ul li a:hover, .header__big_navi ul li .a:hover { color: #F74F45; }

.header__big_navi ul li ul { display: none; margin-top: 20px; }

.header__big_navi ul li ul li { float: left; width: 50%; }

.header__big_navi ul li ul li a { font-size: 12px; font-weight: 500; color: #8f8f8f; }

.header__big_navi ul li.subcat > a, .header__big_navi ul li.subcat > .a { position: relative; }

.header__big_navi ul li.subcat > a:after, .header__big_navi ul li.subcat > .a:after { position: relative; content: ''; display: inline-block; margin-left: 12px; top: -2px; width: 8px; height: 8px; border-right: 2px solid #a1a1a1; border-bottom: 2px solid #a1a1a1; transform: rotate(45deg); -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.header__big_navi ul li.subcat.act > a:after, .header__big_navi ul li.subcat.act > .a:after { top: 2px; transform: rotate(-135deg); }

.header__big_navi ul li.subcat.act > a + ul, .header__big_navi ul li.subcat.act > .a + ul { display: block; }

.header_big_n { position: relative; opacity: 0; top: -320px; z-index: 150; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

.header_big_n.act { opacity: 1; top: 0; }

#dark_bg { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #353535; opacity: .7; z-index: 100; }

#dark_bg.act { display: block; }

.dark_bg_close { display: none; position: absolute; top: 62px; right: 20px; width: 36px; z-index: 5000; }

.dark_bg_close:after, .dark_bg_close:before { position: absolute; top: 0; content: ''; display: inline-block; width: 100%; height: 3px; background: #fff; }

.dark_bg_close:after { transform: rotate(-45deg); }

.dark_bg_close:before { transform: rotate(45deg); }

.hamb_menu { display: block; position: relative; width: 20px; cursor: pointer; float: left; margin-right: 15px; z-index: 200; }

.hamb_menu span { display: block; width: 100%; height: 3px; margin-bottom: 2px; background: #F74F45; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

.hamb_menu span:last-child { margin-bottom: 0; }

.hamb_menu.act { margin-top: 5px; }

.hamb_menu.act span:first-child { position: absolute; transform: rotate(-45deg); }

.hamb_menu.act span:last-child { transform: rotate(45deg); }

.hamb_menu.act span:nth-child(2) { display: none; }

.actions_index { margin-top: 60px; }

.actions_index__left { position: relative; }

.actions_index__left .owl-carousel .owl-stage-outer + .owl-nav .owl-prev:after, .actions_index__left .owl-carousel .owl-stage-outer + .owl-nav .owl-next:after { width: 15px; height: 15px; border-color: #a0c1d0; }

.actions_index__left .owl-carousel .owl-stage-outer + .owl-nav .owl-prev { top: 50%; left: 35px; }

.actions_index__left .owl-carousel .owl-stage-outer + .owl-nav .owl-next { right: 35px; top: calc(50% - 8px) !important; }

.actions_index__left .text_box { position: absolute; top: 50%; left: 280px; padding-right: 70px; transform: translateY(-50%); }

.actions_index__left .text_box .title { font: 700 32px/38px 'GothamPro'; color: #29424D; z-index: 20; }

.actions_index__left .text_box .button { margin-top: 40px; }

.actions_index__left .text_box .button a { font: 600 14px/21px 'Raleway'; color: #29424D; text-transform: uppercase; text-decoration: none; background: #fff; border-radius: 50px; padding: 10px 40px; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.actions_index__left .text_box .button a:hover { background: #ecebeb; }

.actions_index__left--img { height: 350px; }

.actions_index__right .box { position: relative; height: 160px; }

.actions_index__right .box:first-child { margin-bottom: 30px; }

.actions_index__right--title { position: absolute; top: 50%; left: 30px; transform: translateY(-50%); padding-right: 160px; color: #43392B; font: 700 21px/25px 'GothamPro'; z-index: 10; }

.actions_index__right--title.color { color: #4C5278; }

.actions_index__right--img { height: 100%; background-position: 100% 0 !important; }

.index_popular, .index_sale, .partners { margin-top: 70px; }

.index_popular .h1, .index_sale .h1, .partners .h1 { text-align: center; margin-bottom: 30px; }

.index_popular .link_right, .index_sale .link_right, .partners .link_right { text-align: right; padding-top: 14px; }

.index_popular .link_right a, .index_sale .link_right a, .partners .link_right a { color: #a2a2a2; font: 500 13px/19px 'Raleway'; text-decoration: none; border-bottom: 1px solid #a2a2a2; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.index_popular .link_right a:hover, .index_sale .link_right a:hover, .partners .link_right a:hover { color: #474747; }

.partners .owl-stage { display: flex; align-items: center; }

.partners .owl-prev { top: 58% !important; }

.partners .owl-next { top: calc(58% - 8px) !important; }

.product_rows .action_cart, .product_rows .product_cart { margin-bottom: 30px; }

.product_cart { margin-bottom: 30px; }

.product_cart__box { position: relative; padding: 40px 20px; background: #fff; border: 1px solid #EFEFEF; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

.product_cart__box:hover { border-color: #c4c4c4; }

.product_cart__action { position: absolute; left: 20px; top: 30px; background: #F74F45; color: #fff; border-radius: 10px; font-weight: 600; font-size: 11px; padding: 4px 10px; z-index: 10; }

.product_cart__action.view_product { top: 0; }

.product_cart__img { text-align: center; }

.product_cart__title { text-align: center; margin-top: 30px; margin-bottom: 20px; }

.product_cart__title a { font-weight: 600; color: #474747; text-decoration: none; }

.product_cart__price { display: inline-block; font-size: 18px; font-weight: 700; color: #474747; margin-bottom: 12px; padding-left: 5px; }

.product_cart__price:after { display: inline-block; content: '\20BD'; margin-left: 4px; font-size: 16px; }

.product_cart__price--old { display: inline-block; font-size: 14px; font-weight: 700; color: #d1d1d1; text-decoration: line-through; float: right; padding-right: 5px; }

.product_cart__price--old:after { display: inline-block; content: '\20BD'; margin-left: 4px; }

.product_cart__price.red { color: #F74F45; }

.product_cart__button a { font-weight: 700; font-size: 16px; line-height: 19px; display: block; color: #fff; padding: 8px 10px; padding-left: 30px; text-decoration: none; }

.product_cart__button span { position: relative; }

.product_cart__button span:before { position: absolute; top: 1px; left: -30px; content: ''; display: inline-block; width: 16px; height: 16px; background: url(../img/icon-cart-w.svg); }

.product_cart__button.category a { padding-left: 10px; }

footer { background: #232323; color: #fff; padding: 40px 0 30px; margin-top: 100px; }

footer a { color: #fff; text-decoration: none; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

footer a:hover { color: #ccc; }

.footer { font-size: 13px; }

.footer .row-1 { border-bottom: 1px solid #444; padding-bottom: 30px; margin-bottom: 25px; }

.footer__navi { margin: 0; padding: 0; list-style: none; }

.footer__navi li { width: 49%; display: inline-block; margin-bottom: 10px; }

.footer__navi li a { font-size: 13px; line-height: 19px; text-decoration: none; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

.footer__navi li a:hover { color: #ccc; }

.footer__phone { margin-bottom: 15px; }

.footer__phone a { display: block; font-weight: 600; font-size: 13px; margin-bottom: 10px; }

.footer__callback { margin-bottom: 15px; }

.footer__callback a { color: #F74F45; font-weight: 600; text-decoration: none; border-bottom: 1px solid #8d3934; }

.footer__mail { margin-bottom: 20px; }

.footer__mail a { font-weight: 600; }

.footer__addr { color: #767676; }

.footer__copy--1 { color: #5a5a5a; margin-bottom: 15px; font-weight: 600; }

.footer__copy--1 span { margin-right: 15px; color: #fff; font-weight: 500; }

.footer__copy--2 { color: #919191; }

.footer__social ul { margin-top: 15px; padding: 0; list-style: none; }

.footer__social ul li { display: inline-block; margin-right: 15px; }

.footer__social ul li:last-child { margin-right: 0; }

.footer__pay span { display: inline-block; margin-bottom: 17px; }

.breadcrumbs { margin-top: 40px; margin-bottom: 20px; text-align: center; }

.breadcrumbs ul { display: inline-block; margin: 0; padding: 0; list-style: none; }

.breadcrumbs ul li { float: left; font-weight: 500; font-size: 14px; color: #c9c9c9; }

.breadcrumbs ul li a { font-weight: 500; font-size: 16px; color: #c9c9c9; text-decoration: none; }

.breadcrumbs ul li a:hover { text-decoration: underline; }

.breadcrumbs ul li:after { display: inline-block; content: '/'; margin: 0 10px; }

.breadcrumbs ul li:last-child:after { display: none; }

h2.pagetitle, h1.pagetitle { margin-bottom: 50px; }

.white_box { position: relative; padding: 50px 30px; background: #fff; border: 1px solid #EFEFEF; }

.white_box.history { padding-bottom: 30px; }

.filter { color: #474747; }

.filter .act_filter { position: relative; font-family: GothamPro; font-size: 16px; margin: 0 -25px; padding: 0 25px 30px; }

.filter .act_filter:after { position: absolute; top: 1px; right: 25px; content: ''; display: inline-block; width: 10px; height: 10px; border-right: 2px solid #989898; border-bottom: 2px solid #989898; transform: rotate(45deg); -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.filter .act_filter.active { border-bottom: 1px solid #efefef; }

.filter .act_filter.active:after { top: 8px; transform: rotate(225deg); }

.filter__row { border-bottom: 1px solid #EFEFEF; margin: 0 -30px 30px; padding: 0 30px 25px; }

.filter__row:last-child, .filter__row:nth-last-child(2) { border-bottom: 0; padding-bottom: 0; }

.filter__row:last-child { margin-bottom: 30px; }

.filter__name { position: relative; font-family: 'GothamPro'; font-size: 16px; font-weight: 700; margin-bottom: 0; cursor: pointer; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

.filter__name:after { position: absolute; top: 1px; right: 0; content: ''; display: inline-block; width: 10px; height: 10px; border-right: 2px solid #989898; border-bottom: 2px solid #989898; transform: rotate(-45deg); -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

.filter__name.active { margin-bottom: 30px; }

.filter__name.active:after { transform: rotate(45deg); }

.filter__params #range_1, .filter__params #range_2 { border: 1px solid #E4E4E4; width: 50%; float: left; color: #a4a4a4; padding-left: 20px; outline: none; font-weight: 500; font-size: 13px; padding: 10px; }

.filter__params #range_1 { border-radius: 8px 0 0 8px; border-right: 0; }

.filter__params #range_2 { border-radius: 0 8px 8px 0; }

.filter__params #slider-range { margin-top: 35px; margin-bottom: 20px; }

.filter__params ul { margin: 0; padding: 0; list-style: none; }

.filter__params ul li { margin-bottom: 15px; }

.filter__params--price { margin-bottom: 10px; }

.filter .r { margin-top: 8px; width: 10px; height: 2px; background: #d1d1d1; }

.filter .min_price { display: inline-block; float: left; font-weight: 500; }

.filter .max_price { display: inline-block; float: right; font-weight: 500; }

.filter .clear { display: inline-block; font-weight: 500; font-size: 13px; color: #989898; margin: 25px auto 0; }

.before_category { margin-top: 15px; margin-bottom: 20px; font-size: 14px; font-weight: 500; color: #a4a4a4; }

.before_category .label { font-size: 14px !important; }

.before_category .dropdown_menu { margin-left: 16px; }

.before_category .dropdown_select { color: #747474; font-size: 15px; font-weight: 600; }

.ui-widget.ui-widget-content { border: 0; background: #EFEFEF; border-radius: 2px; height: 4px; }

.ui-slider-horizontal .ui-slider-range { background: #D34138; }

.ui-state-default, .ui-widget-content .ui-state-default { background: #fff; width: 12px; height: 12px; border-radius: 50%; border: 4px solid #F74F45; outline: none; cursor: pointer; }

.paginator { margin: 0; margin-top: 40px; padding: 0; list-style: none; }

.paginator li { display: inline-block; margin: 0 12px; }

.paginator li a { display: inline-block; min-height: 30px; min-width: 30px; font-weight: 600; font-size: 13px; line-height: 28px; color: #474747; text-decoration: none; border-radius: 50px; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }

.paginator li a:hover, .paginator li a.active { background: #F74F45; color: #fff; }

.paginator li a.prev, .paginator li a.next { margin-right: -10px; margin-left: -10px; padding-left: 20px; padding-right: 20px; line-height: 29px; }

label.custom input[type="checkbox"], label.custom input[type="radio"] { display: none; }

label.custom .radio-custom, label.custom .checkbox-custom { width: 16px; height: 16px; border: 1px solid #D7D7D7; background: #fff; border-radius: 4px; position: relative; margin-right: 10px; }

label.custom .radio-custom { border-radius: 50%; }

label.custom .radio-custom, label.custom .checkbox-custom, label.custom .label { display: inline-block; vertical-align: middle; font-size: 13px; font-weight: 500; color: #a4a4a4; cursor: pointer; }

label.custom input[type="radio"]:checked + .radio-custom, label.custom input[type="radio"]:checked + .checkbox-custom, label.custom input[type="checkbox"]:checked + .radio-custom, label.custom input[type="checkbox"]:checked + .checkbox-custom { background: #F74F45; border-color: #F74F45; }

label.custom input[type="radio"]:checked + .radio-custom + .label, label.custom input[type="radio"]:checked + .checkbox-custom + .label, label.custom input[type="checkbox"]:checked + .radio-custom + .label, label.custom input[type="checkbox"]:checked + .checkbox-custom + .label { color: #474747; }

label.custom input[type="radio"]:checked + .radio-custom:before, label.custom input[type="radio"]:checked + .checkbox-custom:before, label.custom input[type="checkbox"]:checked + .radio-custom:before, label.custom input[type="checkbox"]:checked + .checkbox-custom:before { content: ""; display: block; position: absolute; top: 2px; left: 4px; width: 6px; height: 8px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(45deg); }

label.custom input[type="radio"]:checked + .radio-custom:before { top: 4px; width: 6px; height: 6px; background: #fff; border-radius: 50%; border: 0; }

.inner_product { margin-top: 50px; }

.inner_product .dropdown_menu { display: none; }

.inner_product .white_box { border-radius: 8px; }

.inner_product .row-1 { margin-bottom: 30px; }

.inner_product .row-2 .white_box { padding: 0; overflow: hidden; }

.inner_product h1 { font-family: 'GothamPro'; font-size: 24px; line-height: 23px; font-weight: 700; margin-bottom: 15px; }

.inner_product #sync2 .owl-item { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: center; }

.inner_product .product__img { padding: 0 115px 70px 115px; }

.inner_product .product__img--sm { border: 1px solid #efefef; width: 100px; height: 100px; padding: 10px; display: flex; align-items: center; cursor: pointer; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.inner_product .product__img--sm:hover { border-color: #9c9c9c; }

.inner_product .product__img--sm img { max-width: 100%; }

.inner_product .product_article { font-size: 13px; opacity: .75; margin-top: 15px; margin-bottom: 40px; }

.inner_product .product_article span { font-weight: 600; }

.inner_product .product_top_char { display: inline-block; font-size: 13px; margin-right: 40px; }

.inner_product .product_top_char span { font-weight: 600; }

.inner_product .product_top_char:last-child { margin-right: 0; }

.inner_product .product_instock { margin: 40px 0 15px; font-weight: 600; font-size: 13px; }

.inner_product .product_instock.instock { color: #00863D; }

.inner_product .product_instock.instock:before { position: relative; content: ''; top: -3px; margin-right: 10px; display: inline-block; width: 10px; height: 6px; border-left: 2px solid #00863D; border-bottom: 2px solid #00863D; transform: rotate(-50deg); }

.inner_product .product_instock.outstock { color: #F74F45; margin-bottom: 40px; }

.inner_product .product_instock.outstock + .product__favourites { display: inline-block; margin-bottom: 40px; }

.inner_product .product__price { display: inline-block; font-size: 24px; line-height: 28px; font-weight: 700; }

.inner_product .product__price:after { display: inline-block; content: '\20BD'; margin-left: 4px; font-size: 22px; }

.inner_product .product__price--old { display: block; font-size: 14px; font-weight: 700; color: #d1d1d1; text-decoration: line-through; margin-bottom: 5px; }

.inner_product .product__price--old:after { display: inline-block; content: '\20BD'; margin-left: 4px; font-size: 14px; }

.inner_product .product__count { float: right; }

.inner_product .product__addcart { margin-top: 40px; display: flex; }

.inner_product .product__addcart a { color: #fff; width: 100%; }

.inner_product .product__addcart a.btn-grey { margin-top: 0; color: #a4a4a4; font-weight: 700; font-size: 13px; box-shadow: none; }

.inner_product .product__addcart a.btn { flex-grow: 1; }

.inner_product .product__favourites { color: #afafaf; line-height: 34px; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.inner_product .product__favourites:before { position: relative; content: ''; display: inline-block; width: 36px; height: 36px; border: 2px solid #F74F45; border-radius: 50%; float: left; margin-right: 10px; background: url(../img/icon-heart-red.svg) no-repeat 50%; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.inner_product .product__favourites:hover { color: #474747; }

.inner_product .product__favourites:hover:before { background: url(../img/icon-heart-red2.svg) no-repeat 50%; border-color: #cd1409; }

.inner_product ul.nav-tabs { border-bottom: 0; display: flex; justify-content: space-between; }

.inner_product ul.nav-tabs li { flex-grow: 1; }

.inner_product ul.nav-tabs li a { display: block; font-weight: 600; background: #F1F1F1; text-align: center; color: #9d9d9d; padding: 15px; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.inner_product ul.nav-tabs li a.active { background: #fff; color: #474747; }

.inner_product ul.nav-tabs li:hover a { background: #e6e3e3; }

.inner_product .tab-content { padding: 50px 30px; }

.inner_product .tab-content ul { padding: 0; padding-left: 15px; }

.product__count { display: inline-block; border: 1px solid #E4E4E4; border-radius: 8px; height: 32px; }

.product__count .count_plus, .product__count .count_minus { height: 100%; display: inline-block; padding: 0 10px; font-weight: 500; font-size: 32px; line-height: 30px; color: #a4a4a4; cursor: pointer; }

.product__count .count_minus { float: left; line-height: 25px; }

.product__count .count_plus { float: right; }

.product__count .count_value { width: 50px; height: 30px; text-align: center; border: 0; outline: none; font-weight: 700; font-size: 15px; -moz-appearance: textfield; }

.product__count .count_value::-webkit-outer-spin-button, .product__count .count_value::-webkit-inner-spin-button { -webkit-appearance: none; }

.tab_review_box { width: 50%; float: left; font-size: 13px; line-height: 19px; margin-bottom: 30px; }

.tab_review_box .name { width: 150px; float: left; font-weight: 500; color: #757575; }

.tab_review_box .title { font-weight: 700; margin-bottom: 10px; }

.tab_review_box .desc { padding-left: 150px; padding-right: 50px; }

.add_review { display: inline-block; margin-top: 15px; color: #757575; font-weight: 700; font-size: 15px; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.add_review:hover { color: #474747; text-decoration: none; }

.add_review.top { display: none; }

.product_also_buy .h2 { text-align: center; margin: 60px auto 30px; }

.inner_action_product .h2 { text-align: center; margin: 40px auto 30px; color: #F74F45; }

.label__red, .label__green { display: inline-block; color: #fff; border-radius: 10px; font-weight: 600; font-size: 11px; line-height: 13px; padding: 4px 12px; }

.label__red { background: #F74F45; }

.label__green { background: #22B866; }

.view_cart .row_cart { color: #757575; font-weight: 500; margin-bottom: 70px; }

.view_cart .row_cart__img { width: 100px; }

.view_cart .row_cart__title { width: 300px; }

.view_cart .row_cart__title a { display: inline-block; font-weight: 600; font-size: 14px; color: #474747; text-decoration: none; margin-bottom: 10px; }

.view_cart .row_cart__title a:hover { text-decoration: underline; }

.view_cart .row_cart__art { font-size: 13px; color: #757575; }

.view_cart .row_cart__price:after { display: inline-block; content: '\20BD'; margin-left: 4px; }

.view_cart .row_cart__price--total { font-size: 15px; font-weight: 700; color: #474747; }

.view_cart .row_cart__price--total:after { display: inline-block; content: '\20BD'; margin-left: 4px; }

.view_cart .row_cart__price .old { display: block; color: #d1d1d1; text-decoration: line-through; margin-bottom: 8px; }

.view_cart .row_cart__price .old:after { display: inline-block; content: '\20BD'; margin-left: 4px; }

.view_cart .row_cart__price.noitem:after { display: none; }

.view_cart .row_cart__addcart { width: 224px; }

.view_cart .row_cart__addcart .btn { width: 100%; }

.view_cart .row_cart__addcart .btn-grey { margin-top: 0; box-shadow: none; width: 100%; }

.view_cart .row_cart__delete { width: 76px; text-align: right; }

.view_cart .row_cart__delete a { font-size: 13px; color: #757575; text-decoration: none; }

.view_cart .row_cart__delete a:before { position: relative; top: 2px; right: -20px; padding: 5px; display: inline-block; content: 'Удалить'; opacity: 0; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.view_cart .row_cart__delete a:hover:before { right: 0; opacity: 1; }

.view_cart .row_cart .label__red, .view_cart .row_cart .label__green { margin-right: 10px; margin-bottom: 10px; }

.view_cart .cart_total { font-weight: 13; line-height: 19px; margin-bottom: 40px; }

.view_cart .cart_total span { font-size: 21px; font-weight: 600; }

.view_cart .cart_total--sale { font-size: 14px; margin-bottom: 15px; }

.view_cart .cart_total--sale span { font-weight: 600; font-size: 16px; color: #F74F45; }

.error404 { position: relative; text-align: center; padding: 130px 0 0; }

.error404__aibolit { position: absolute; left: 30px; width: 238px; height: 360px; background: url(../img/3cca3b7a4.jpg) no-repeat 0 50%; }

.error404__aibolit span { position: absolute; top: 20px; left: 220px; width: 220px; font-size: 18px; line-height: 22px; font-style: italic; text-align: left; transform: rotate(-20deg); }

.error404__title { margin: 30px 0 40px; font: 700 24px/23px 'GothamPro'; }

.error404__text { font: 600 18px/26px 'Raleway'; color: #747474; margin-bottom: 15px; }

.error404__link a { font: 500 13px/15px 'Raleway'; color: #a2a2a2; text-decoration: none; border-bottom: 1px solid #a2a2a2; }

.search_result .product_cart { margin-bottom: 30px; }

.search_result__category { margin-bottom: 30px; font-size: 13px; line-height: 15px; }

.search_result__category a { display: inline-block; color: #474747; font-weight: 600; text-decoration: none; }

.search_result__category span { font-weight: 500; color: #a2a2a2; margin-right: 25px; }

.action_cart { margin-bottom: 30px; }

.action_cart__box { background: #fff; border: 1px solid #EFEFEF; }

.action_cart__img img { width: 100%; }

.action_cart__title { padding: 30px; }

.action_cart__title a { font: 600 15px/18px 'Raleway'; color: #474747; text-decoration: none; }

.step_order_cart .h2 { display: inline-block; margin-bottom: 50px; }

.step_order_cart .edit_order { float: right; margin-top: 8px; }

.step_order_cart .edit_order a { font-size: 13px; color: #a4a4a4; font-weight: 500; text-decoration: none; }

.link-right { float: right; }

.link-right a { color: #757575; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.link-right a:hover { color: #F74F45; }

.user_cabinet .h2 { display: inline-block; margin-bottom: 30px; }

.user_cabinet .link-right { margin-top: 12px; }

.user_cabinet .white_box { margin-bottom: 30px; }

.user_cabinet .white_box:last-child { margin-bottom: 0; }

.order_history table { table-layout: fixed; font-size: 13px; width: 100%; }

.order_history table th { font-weight: 600; padding-bottom: 25px; }

.order_history table th:first-child { width: 50px; }

.order_history table td { font-weight: 500; color: #757575; padding-bottom: 15px; }

.order_history table tr:last-child td { padding-bottom: 0; }

#order_delivery { display: none; }

.icon_soc { margin-bottom: 30px; font-size: 14px; color: #a4a4a4; }

.icon_soc:last-child { margin-bottom: 0; }

.icon_soc img { margin-right: 20px; }

.icon_soc a.add { color: #a4a4a4; text-decoration: none; }

.icon_soc a.del { color: #a4a4a4; text-decoration: none; margin-left: 40px; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.icon_soc a.del:hover { color: #F74F45; }

.row_form { margin-bottom: 50px; }

.row_form:last-child { margin-bottom: 0; }

.row_form__title { color: #757575; font-weight: 700; font-size: 16px; margin-bottom: 30px; }

.row_form ul { margin: 0; padding: 0; list-style: none; }

.row_form ul li label.custom { margin-bottom: 20px; }

.row_form ul li:last-child label.custom { margin-bottom: 0; }

.row_form textarea, .row_form input { width: 100%; border: 1px solid #E4E4E4; border-radius: 8px; color: #757575; font-size: 13px; font-weight: 500; line-height: 15px; padding: 10px 20px; margin-bottom: 20px; }

.row_form textarea:last-child, .row_form input:last-child { margin-bottom: 0; }

.row_form textarea[type="radio"], .row_form input[type="radio"] { width: auto; }

.row_form.agree .left, .row_form.agree .right { display: inline-block; width: 50%; }

.row_form.agree .left { float: left; }

.row_form.agree .left .custom { margin-bottom: 3px; }

.row_form.agree .left a { color: #0076BF; font-size: 13px; font-weight: 500; text-decoration: underline; margin-left: 25px; }

.row_form.agree .right { float: right; text-align: right; font-weight: 600; font-size: 13px; }

.row_form.agree .right span { font-size: 21px; }

.row_form.agree .right .sale { margin-bottom: 15px; }

.row_form.agree .right .sale span { font-size: 16px; color: #F74F45; }

.row_form.adress textarea { margin-top: 20px; }

.row_order_cart { margin-bottom: 40px; }

.row_order_cart:last-child { margin-bottom: 0; }

.row_order_cart__title { padding-right: 80px; margin-bottom: 15px; }

.row_order_cart__title a { font-weight: 600; font-size: 14px; line-height: 16px; color: #474747; text-decoration: none; }

.row_order_cart__char, .row_order_cart__count { color: #757575; font-size: 13px; margin-bottom: 10px; }

.row_order_cart__count { display: inline-block; }

.row_order_cart__price { float: right; display: inline-block; }

.row_order_cart__price span { font-size: 15px; font-weight: 600; }

.order_done__number { text-align: center; margin: -30px 0 10px; font: 500 16px/19px 'Raleway'; }

.order_done__number span { font-weight: 700; }

.order_done__text { text-align: center; font: 500 16px/19px 'Raleway'; margin-bottom: 60px; color: #c9c9c9; }

.order_done .more { margin-top: 50px; padding-left: 40px; padding-right: 40px; }

.return { text-align: center; margin-top: 30px; }

.return a { color: #a2a2a2; }

.contacts .white_box { border-radius: 8px; font: 500 15px/18px 'Raleway'; }

.contacts .h2 { font: 700 28px/27px 'GothamPro'; margin-bottom: 30px; }

.contacts .row-phone { background: url(../img/icon-phone.svg) no-repeat 0 50%; padding-left: 30px; line-height: 18px; margin-bottom: 30px; }

.contacts .row-phone a { color: #474747; text-decoration: none; }

.contacts .row-mail { background: url(../img/icon-mail.svg) no-repeat 0 50%; padding-left: 30px; line-height: 18px; margin-bottom: 30px; }

.contacts .row-mail a { color: #474747; text-decoration: none; }

.contacts .row-place { background: url(../img/icon-place.svg) no-repeat 0 50%; padding-left: 30px; line-height: 18px; }

.contacts .row-map { margin-top: 30px; margin-bottom: -60px; }

#ya_addr { width: 100%; height: 350px; }

.form { width: 100%; }

.form input, .form textarea { margin-bottom: 30px; border: 1px solid #E4E4E4; border-radius: 8px; width: 100%; padding: 10px 20px; font: 500 13px/15px 'Raleway'; outline: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.form input:focus, .form textarea:focus { border-color: #474747; }

.form button { display: inherit; margin: 0 auto; padding: 10px 60px; }

.owl-carousel .owl-stage-outer { position: relative; }

.owl-carousel .owl-stage-outer + .owl-nav .owl-prev, .owl-carousel .owl-stage-outer + .owl-nav .owl-next { position: absolute; top: 50%; background: transparent; border: 0; outline: none; }

.owl-carousel .owl-stage-outer + .owl-nav .owl-prev span, .owl-carousel .owl-stage-outer + .owl-nav .owl-next span { display: none; }

.owl-carousel .owl-stage-outer + .owl-nav .owl-prev:after, .owl-carousel .owl-stage-outer + .owl-nav .owl-next:after { position: absolute; top: 0; left: 0; content: ''; display: inline-block; width: 15px; height: 15px; border-right: 3px solid #cfcfcf; border-bottom: 3px solid #cfcfcf; }

.owl-carousel .owl-stage-outer + .owl-nav .owl-prev { transform: rotate(135deg); left: 0; }

.owl-carousel .owl-stage-outer + .owl-nav .owl-next { transform: rotate(-45deg); top: calc(50% - 8px); right: 0; }

.owl-carousel .owl-dots { background: #efefef; margin: 0 15px; display: flex; border-radius: 3px; overflow: hidden; }

.owl-carousel .owl-dots button { background: #efefef; border: 0; height: 4px; flex-grow: 1; outline: none; }

.owl-carousel .owl-dots button.active { background: #cbcbcb; border-radius: 3px; }

.owl-carousel .owl-dots button:focus { outline: none; }

.modal { overflow-y: hidden; }

.modal-dialog { position: relative; max-width: 362px; }

.modal-title { color: #000; text-transform: uppercase; font-weight: 700; display: inline-block; width: 100%; text-align: center; }

.modal-content { position: relative; border-radius: 8px; padding: 45px 30px 40px; }

.modal-content .h2 { text-align: center; font: 700 24px/23px 'GothamPro'; margin-bottom: 40px; }

.modal-content ul { margin-top: 30px; padding: 0; list-style: none; }

.modal-content ul li a { display: block; }

.modal-content label { font-size: 14px; }

.modal-content .popup_footer button { margin-top: 30px; width: 100%; margin-bottom: 10px; }

.modal-content .popup_footer a { display: block; margin-top: 15px; font-size: 13px; color: #a4a4a4; text-decoration: none; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.modal-content .popup_footer a:hover { color: #F74F45; }

.modal-content .row_form { margin-bottom: 0; }

.modal-content .row_form input { width: 100%; margin-right: 0; }

.modal .close { position: absolute; top: -56px; right: -50px; font-size: 52px; color: #fff; font-weight: 400; text-shadow: none; padding: 6px 12px; outline: none; opacity: 1; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }

.modal .close:hover { color: #F74F45 !important; opacity: 1 !important; }

.modal .popup__desc { font-size: 12px; margin-top: 10px; color: #1d1d1d; text-align: center; }

.modal .popup__desc a { text-decoration: underline; color: #1d1d1d; }

.modal .modal_social { position: absolute; text-align: center; width: 100%; color: #fff; font-size: 13px; left: 0; bottom: -50px; }

.modal .modal_social ul li { display: inline-block; margin: 0 10px; }

.modal-backdrop.show { opacity: .95; background: #353535; }

.dropdown_menu { position: relative; display: inline-block; }

.dropdown_menu .dropdown_select { position: relative; display: inline-block; }

.dropdown_menu .dropdown_select:after { content: ''; position: relative; margin-left: 10px; left: 0; bottom: -12px; border: 6px solid transparent; border-top: 6px solid #747474; }

.dropdown_menu .dropdown_list { position: absolute; right: 0; top: 15px; display: none; text-align: left; z-index: 200; background: #fff; border: 1px solid #EFEFEF; padding: 15px; box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); }

.dropdown_menu .dropdown_list span { display: block; margin-bottom: 10px; cursor: pointer; white-space: nowrap; }

.dropdown_menu .dropdown_list span:last-child { margin-bottom: 0; }

.dropdown_menu .dropdown_list span:hover { color: #474747; }

.dropdown_menu:hover .dropdown_list { display: inline; }

.history { margin-bottom: 30px; }

.history__number { font-weight: 600; font-size: 18px; margin-bottom: 10px; }

.history__detail .char { display: flex; margin-bottom: 5px; }

.history__detail .label { width: 100%; max-width: 80px; margin-right: 10px; }

.history__footer { border-top: 1px solid #EFEFEF; margin-top: 15px; padding-top: 15px; }

.history__footer .print { margin-top: 10px; color: #474747; float: right; }

.history__footer .print svg { margin-right: 10px; }

#dark_bg_modal { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 200; transition: opacity .15s linear; }

#dark_bg_modal.act { display: block; }

.hide { display: none; }
