@import "params.scss";

html, body {
	background: #fcfcfc;
	font: 400 14px/16px "Raleway", Arial !important;
	color: #474747 !important;

	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum";
	-ms-font-feature-settings: "lnum" 1;
}
body {
	height: 100%;
	&.act {
		overflow: hidden;
	}
}

a {
	color: #0076BF;
	text-decoration: underline;
	outline: none;
	@include transition(all, .2s);
	&:hover {
		text-decoration: none;
		color: $red;
	}
}

h1,.h1 {
	font: 700 36px/34px 'GothamPro';
	margin: 0;
	color: #474747;
}
h2,.h2 {
	font: 700 28px/33px 'Raleway';
	margin: 0;
}

p {
	color: #636363;
	font: 400 13px/19px 'Raleway';
	letter-spacing: .6px;
	margin-bottom: 20px;
	text-indent: 10px;
	&:last-child {
		// margin-bottom: 0;
	}
	.img-fluid {
		margin-left: -10px;
	}
}

::-webkit-input-placeholder {color:#a4a4a4; opacity:1;}/* webkit */
::-moz-placeholder          {color:#a4a4a4; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:#a4a4a4; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#a4a4a4; opacity:1;}/* IE */

button {
  cursor: pointer;
	outline: none;
  @include transition(all,.3s);
}
textarea,
input {
	outline: none;
	&:active,
	&:focus {
		border-color: #bdbbbb !important;
	}
}

.red {
	color: $red;
}

.w-100 {
	width: 100%;
}
.mb30 {
	margin-bottom: 30px;
}
.h80 {
	height: 80px;
}


.btn {
	position: relative;
	font-size: 13px;
	font-weight: 600;
	padding: 14px 60px;
	border-radius: 50px;
	box-shadow: 0 20px 12px -15px rgba(42, 58, 121, .2);
	@include transition(all, .2s);
	&:focus {
		box-shadow: none;
	}
	// z-index: 5;
	// &:after {
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	content: '';
	// 	display: inline-block;
	// 	width: 90%;
	// 	height: 30px;
	// 	box-shadow: 0 10px 10px rgba(42, 58, 121, .9);
	// 	z-index: -1;
	// }
	&-red {
		color: #fff;
		background: $red;
		text-decoration: none;
		a {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			color: #fff;
			background: darken($red, 10%);
		}
	}
	&-blue {
		background: $blue;
		color: #fff !important;
		text-decoration: none;
		@include transition(all, .2s);
		a {
			color: #fff !important;
			text-decoration: none;
		}
		&:hover {
			color: #fff;
			background: darken($blue, 10%);
		}
	}
	&-grey {
		display: inline-block;
		border: 1px solid #E4E4E4;
		color: #a4a4a4;
		font-weight: 500;
		font-size: 13px;
		text-align: center;
		padding: 10px 0;
		width: 100%;
		border-radius: 50px;
		margin-top: 30px;
		text-decoration: none;
		@include transition(all, .2s);
		&:hover {
			color: #a4a4a4;
			background: #f5f4f4;
			text-decoration: none;
		}
	}
	&-sm {
		padding: 8px 40px;
		text-decoration: none;
		a {
			text-decoration: none;
		}
	}
}


header {
	position: relative;
	background: #fff;
	padding: 35px 0 30px;
	border-bottom: 1px solid #EFEFEF;
	z-index: 160;
	a {
		text-decoration: none;
	}
}

.header {
	font-weight: 600;
	color: #474747;
	a {
		color: #474747;
		font-size: 14px;
		@include transition(all, .2s);
		&:hover {
			color: $red;
		}
	}
	.row-2 {
		margin-top: 30px;
	}
	&__logo {
		display: inline-block;
	}
	&__nav {
		display: inline-block;
		margin-left: 42px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin-right: 55px;
				float: left;
				&.action {
					a {
						color: #F74F45;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__phone {
		display: inline-block;
		margin-top: 10px;
		float: right;
		a {
			font-size: 16px;
			color: #25377D;
			margin-right: 61px;
			text-decoration: none;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__mainNavi {
		display: inline-block;
		@include transition(all, .2s);
		a {
			text-decoration: none;
		}
		&:hover {
			.hamb_menu:not(.act) {
				span {
					&:first-child {
						position: relative;
						top: -1px;
					}
					&:last-child {
						position: relative;
						bottom: -1px;
					}
				}
			}
		}
	}
	&__search {
		display: inline-block;
		margin-left: 48px;
		width: 490px;
		form {
			display: flex;
		}
		input[type="text"] {
			border: 1px solid #EFEFEF;
			border-radius: 8px 0 0 8px;
			width: 100%;
			font-size: 13px;
			font-weight: 500;
			color: #a4a4a4;
			padding-left: 28px;
			outline: none;
		}
		button {
			font-size: 13px;
			font-weight: 600;
			padding: 10px 40px;
			border: 0;
			border-radius: 0 8px 8px 0;
			outline: none;
		}
	}
	&__links {
		display: inline-block;
		float: right;
		margin-top: 9px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				margin-right: 40px;
				a {
					position: relative;
					display: inline-block;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&--search {
			display: none;
			position: relative;
			padding-left: 8px + 17px;
			a {
				&:before {
					position: absolute;
					top: 0;
					left: -(8px + 17px);
					display: inline-block;
					content: '';
					width: 14px;
					height: 14px;
					background: url(../img/icon-search.svg);
				}
			}
		}
		&--fav {
			position: relative;
			padding-left: 8px + 17px;
			a {
				&:before {
					position: absolute;
					top: 0;
					left: -(8px + 17px);
					display: inline-block;
					content: '';
					width: 17px;
					height: 14px;
					background: url(../img/icon-heart.svg);
				}
			}

		}
		&--cart {
			position: relative;
			padding-left: 18px + 16px;
			a {
				&:before {
					position: absolute;
					top: 0;
					left: -(18px + 16px);
					display: inline-block;
					content: '';
					width: 16px;
					height: 16px;
					background: url(../img/icon-cart.svg);
				}
			}
			span {
				position: absolute;
				top: -12px;
				left: -20px;
				background: $red;
				font-size: 11px;
				line-height: 13px;
				color: #fff;
				padding: 1px 7px;
				border-radius: 50px;
			}
		}
		&--user {
			position: relative;
			padding-left: 8px + 13px;
			padding-right: 30px;
			a.link {
				&:before {
					position: absolute;
					top: 0;
					left: -(8px + 13px);
					display: inline-block;
					content: '';
					width: 13px;
					height: 16px;
					background: url(../img/icon-user.svg);
				}
			}
			&:after {
				position: absolute;
				top: 3px;
				right: 2px;
				display: inline-block;
				content: '';
				border-right: 1px solid #474747;
				border-bottom: 1px solid #474747;
				width: 6px;
				height: 6px;
				transform: rotate(45deg);
			}
			&:after {
				position: absolute;
				top: 3px;
				right: 2px;
				display: inline-block;
				content: '';
				border-right: 1px solid #474747;
				border-bottom: 1px solid #474747;
				width: 6px;
				height: 6px;
				transform: rotate(45deg);
			}
			&.no_user {
				padding-right: 0;
				&:after {
					display: none;
				}
			}
			.dropdown_menu {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				background: #fff;
				span {
					display: block;
				}
				.dropdown_list {
					display: block;
					margin-top: 10px;
					&:before {
						position: absolute;
						top: -10px;
						left: 0;
						content: '';
						display: inline-block;
						width: 100%;
						height: 30px;
					}
				}
			}
			&:hover {
				.dropdown_menu {
					display: block;
				}
			}
		}
	}
	&__big_navi {
		// display: none;
		position: absolute;
		left: 15px;
		right: 15px;
		background: #fff;
		padding: 50px 40px;
		z-index: 500;
		&.act {
			display: block;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				width: 33%;
				display: inline-block;
				margin-bottom: 25px;
				a, .a {
					cursor: pointer;
					font-weight: 600;
					font-size: 13px;
					color: #474747;
					text-decoration: none;
					@include transition(all, .2s);
					&:hover {
						color: $red;
					}
				}
				ul {
					display: none;
					margin-top: 20px;
					li {
						float: left;
						width: 50%;
						a {
							font-size: 12px;
							font-weight: 500;
							color: #8f8f8f;
						}
					}
				}
				&.subcat {
					> a,
					> .a {
						position: relative;
						&:after {
							position: relative;
							content: '';
							display: inline-block;
							margin-left: 12px;
							top: -2px;
							width: 8px;
							height: 8px;
							border-right: 2px solid #a1a1a1;
							border-bottom: 2px solid #a1a1a1;
							transform: rotate(45deg);
							@include transition(all, .2s);
						}
					}
					&.act {
						> a,
						> .a {
							&:after {
								top: 2px;
								transform: rotate(-135deg);
							}
							+ ul {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
.header_big_n {
	position: relative;
	// display: none;
	opacity: 0;
	top: -320px;
	z-index: 150;
	@include transition(all, .3s);
	&.act {
		opacity: 1;
		top: 0;
		// display: block;
	}
}
#dark_bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #353535;
	opacity: .7;
	z-index: 100;
	&.act {
		display: block;
	}
}
.dark_bg_close {
	display: none;
	position: absolute;
	top: 62px;
	right: 20px;
	width: 36px;
	// height: 50px;
	z-index: 5000;
	&:after,
	&:before {
		position: absolute;
		top: 0;
		content: '';
		display: inline-block;
		width: 100%;
		height: 3px;
		background: #fff;
	}
	&:after {
		transform: rotate(-45deg);
	}
	&:before {
		transform: rotate(45deg);
	}
}

.hamb_menu {
 display: block;
 position: relative;
 width: 20px;
 cursor: pointer;
 float: left;
 margin-right: 15px;
 z-index: 200;
 span {
	 display: block;
	 width: 100%;
	 height: 3px;
	 margin-bottom: 2px;
	 background: $red;
	 @include transition(all,.3s);
	 &:last-child {
		 margin-bottom: 0;
	 }
 }
	&.act {
		margin-top: 5px;
		span {
			&:first-child {
				position: absolute;
				transform: rotate(-45deg);
			}
			&:last-child {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
}



.actions_index {
	margin-top: 60px;
	&__left {
		position: relative;
		.owl-carousel {
			.owl-stage-outer {
				+ .owl-nav {
					.owl-prev,
					.owl-next {

						// transform: translateY(-50%);
						&:after {
							width: 15px;
							height: 15px;
							border-color: #a0c1d0;
						}
					}
					.owl-prev {
						top: 50%;
						left: 35px;
					}
					.owl-next {
						right: 35px;
						top: calc(50% - 8px) !important;
					}
				}
			}
		}
		.text_box {
			position: absolute;
			top: 50%;
			left: 280px;
			padding-right: 70px;
			transform: translateY(-50%);
			.title {
				font: 700 32px/38px 'GothamPro';
				color: #29424D;
				z-index: 20;
			}
			.button {
				margin-top: 40px;
				a {
					font: 600 14px/21px 'Raleway';
					color: #29424D;
					text-transform: uppercase;
					text-decoration: none;
					background: #fff;
					border-radius: 50px;
					padding: 10px 40px;
					@include transition(all, .2s);
					&:hover {
						background: #ecebeb;
					}
				}
			}
		}
		&--img {
			height: 350px;
		}
	}
	&__right {
		.box {
			position: relative;
			height: 160px;
			&:first-child {
				margin-bottom: 30px;
			}
		}
		&--title {
			position: absolute;
			top: 50%;
			left: 30px;
			transform: translateY(-50%);
			padding-right: 160px;
			color: #43392B;
			font: 700 21px/25px 'GothamPro';
			z-index: 10;
			&.color {
				color: #4C5278;
			}
		}
		&--img {
			height: 100%;
			background-position: 100% 0 !important;
		}
	}
}

.index_popular,
.index_sale,
.partners {
	margin-top: 70px;
	.h1 {
		text-align: center;

		margin-bottom: 30px;
	}
	.link_right {
		text-align: right;
		padding-top: 14px;
		a {
			color: #a2a2a2;
			font: 500 13px/19px 'Raleway';
			text-decoration: none;
			border-bottom: 1px solid #a2a2a2;
			@include transition(all, .2s);
			&:hover {
				color: #474747;
			}
		}
	}
}
.partners {
	.owl-stage {
		display: flex;
    align-items: center;
	}
	.owl-prev {
		top: 58% !important;
	}
	.owl-next {
		top: calc(58% - 8px) !important;
	}
}

.product_rows {
	.action_cart,
	.product_cart {
		margin-bottom: 30px;
	}
}

.product_cart {
	margin-bottom: 30px;
	&__box {
		position: relative;
		padding: 40px 20px;
		background: #fff;
		border: 1px solid #EFEFEF;
		@include transition(all, .3s);
		&:hover {
			border-color: #c4c4c4;
		}
	}
	&__action {
		position: absolute;
		left: 20px;
		top: 30px;
		background: $red;
		color: #fff;
		border-radius: 10px;
		font-weight: 600;
		font-size: 11px;
		padding: 4px 10px;
		z-index: 10;
		&.view_product {
			top: 0;
		}
	}
	&__img {
		text-align: center;
	}
	&__title {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
		a {
			font-weight: 600;
			color: #474747;
			text-decoration: none;
		}
	}
	&__price {
		display: inline-block;
		font-size: 18px;
		font-weight: 700;
		color: #474747;
		margin-bottom: 12px;
		padding-left: 5px;
		&:after {
			display: inline-block;
			content: '\20BD';
			margin-left: 4px;
			font-size: 16px;
		}
		&--old {
			display: inline-block;
			font-size: 14px;
			font-weight: 700;
			color: #d1d1d1;
			text-decoration: line-through;
			float: right;
			padding-right: 5px;
			&:after {
				display: inline-block;
				content: '\20BD';
				margin-left: 4px;
			}
		}
		&.red {
			color: $red;
		}
	}
	&__button {
		a {
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;
			display: block;
			color: #fff;
			padding: 8px 10px;
			padding-left: 30px;
			text-decoration: none;
		}
		span {
			position: relative;
			&:before {
				position: absolute;
				top: 1px;
				left: -30px;
				content: '';
				display: inline-block;
				width: 16px;
				height: 16px;
				background: url(../img/icon-cart-w.svg);
			}
		}
		&.category {
			a {
				padding-left: 10px;
			}
		}
	}
}


footer {
	background: #232323;
	color: #fff;
	padding: 40px 0 30px;
	margin-top: 100px;
	a {
		color: #fff;
		text-decoration: none;
		@include transition(all,.3s);
		&:hover {
			color: #ccc;
		}
	}
}
.footer {
	font-size: 13px;
	.row-1 {
		border-bottom: 1px solid #444;
		padding-bottom: 30px;
		margin-bottom: 25px;
	}
	&__navi {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			width: 49%;
			display: inline-block;
			margin-bottom: 10px;
			a {
				font-size: 13px;
				line-height: 19px;
				text-decoration: none;
				@include transition(all,.3s);
				&:hover {
					color: #ccc;
				}
			}
		}
	}
	&__phone {
		margin-bottom: 15px;
		a {
			display: block;
			font-weight: 600;
			font-size: 13px;
			margin-bottom: 10px;
		}
	}
	&__callback {
		margin-bottom: 15px;
		a {
			color: $red;
			font-weight: 600;
			text-decoration: none;
			border-bottom: 1px solid #8d3934;
		}
	}
	&__mail {
		margin-bottom: 20px;
		a {
			font-weight: 600;
		}
	}
	&__addr {
		color: #767676;
	}
	&__copy {
		&--1 {
			color: #5a5a5a;
			margin-bottom: 15px;
			font-weight: 600;
			span {
				margin-right: 15px;
				color: #fff;
				font-weight: 500;
			}
		}
		&--2 {
			color: #919191;
		}
	}
	&__social {
		ul {
			margin-top: 15px;
			padding: 0;
			list-style: none;
			li {
				display: inline-block;
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__pay {
		span {
			display: inline-block;
			margin-bottom: 17px;
		}
	}
}

.breadcrumbs {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			// display: inline-block;
			float: left;
			font-weight: 500;
			font-size: 14px;
			color: #c9c9c9;
			a {
				font-weight: 500;
				font-size: 16px;
				color: #c9c9c9;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			&:after {
				display: inline-block;
				content: '/';
				margin: 0 10px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
}

h2.pagetitle,
h1.pagetitle {
	margin-bottom: 50px;
}

.white_box {
	position: relative;
	padding: 50px 30px;
	background: #fff;
	border: 1px solid #EFEFEF;
	&.history {
		padding-bottom: 30px;
	}
}

.filter {
	color: #474747;
	.act_filter {
		position: relative;
		font-family: GothamPro;
		font-size: 16px;
		margin: 0 -25px;
		padding: 0 25px 30px;
		&:after {
			position: absolute;
  		top: 1px;
		  right: 25px;
		  content: '';
		  display: inline-block;
		  width: 10px;
		  height: 10px;
		  border-right: 2px solid #989898;
		  border-bottom: 2px solid #989898;
		  transform: rotate(45deg);
			@include transition(all, .2s);
		}
		&.active {
			border-bottom: 1px solid #efefef;
			&:after {
				top: 8px;
				transform: rotate(225deg);
			}
		}
	}
	&__row {
		border-bottom: 1px solid #EFEFEF;
		margin: 0 -30px 30px;
		padding: 0 30px 25px;
		&:last-child,
		&:nth-last-child(2) {
			border-bottom: 0;
			padding-bottom: 0;
			// margin-bottom: 0;
		}
		&:last-child {
			margin-bottom: 30px;
		}
	}
	&__name {
		position: relative;
		font-family: 'GothamPro';
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 0;
		cursor: pointer;
		@include transition(all,.3s);
		&:after {
			position: absolute;
			top: 1px;
			right: 0;
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			border-right: 2px solid #989898;
			border-bottom: 2px solid #989898;
			transform: rotate(-45deg);
			@include transition(all,.3s);
		}
		&.active {
			margin-bottom: 30px;
			&:after {
				transform: rotate(45deg);
			}
		}
	}
	&__params {
		#range_1,
		#range_2 {
			border: 1px solid #E4E4E4;
			width: 50%;
			float: left;
			color: #a4a4a4;
			padding-left: 20px;
			outline: none;
			font-weight: 500;
			font-size: 13px;
			padding: 10px;
		}
		#range_1 {
			border-radius: 8px 0 0 8px;
			border-right: 0;
		}
		#range_2 {
			border-radius: 0 8px 8px 0;
		}
		#slider-range {
			margin-top: 35px;
			margin-bottom: 20px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin-bottom: 15px;
			}
		}
		&--price {
			margin-bottom: 10px;
		}
	}
	.r {
		margin-top: 8px;
		width: 10px;
		height: 2px;
		background: #d1d1d1;
	}
	.min_price {
		display: inline-block;
		float: left;
		font-weight: 500;
	}
	.max_price {
		display: inline-block;
		float: right;
		font-weight: 500;
	}
	.clear {
		display: inline-block;
		font-weight: 500;
		font-size: 13px;
		color: #989898;
		margin: 25px auto 0;
	}
}
.before_category {
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #a4a4a4;
	.label {
		font-size: 14px !important;
	}
	.dropdown {
		&_menu {
			margin-left: 16px;
		}
		&_select {
			color: #747474;
			font-size: 15px;
			font-weight: 600;
		}
	}
}

.ui-widget.ui-widget-content {
	border: 0;
	background: #EFEFEF;
	border-radius: 2px;
	height: 4px;
}
.ui-slider-horizontal .ui-slider-range {
	background: #D34138;
}
.ui-state-default, .ui-widget-content .ui-state-default {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 4px solid #F74F45;
	outline: none;
	cursor: pointer;
}

.paginator {
	margin: 0;
	margin-top: 40px;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		margin: 0 12px;
		a {
			display: inline-block;
			min-height: 30px;
			min-width: 30px;
			font-weight: 600;
			font-size: 13px;
			line-height: 28px;
			color: #474747;
			text-decoration: none;
			border-radius: 50px;
			@include transition(all,.3s);
			&:hover,
			&.active {
				background: $red;
				color: #fff;
			}
			&.prev,
			&.next {
				margin-right: -10px;
				margin-left: -10px;
				padding-left: 20px;
				padding-right: 20px;
				line-height: 29px;
			}
		}
	}
}

label.custom {
	input[type="checkbox"],
	input[type="radio"] {
		display: none;
	}
	.radio-custom,
	.checkbox-custom {
		width: 16px;
		height: 16px;
		border: 1px solid #D7D7D7;
		background: #fff;
		border-radius: 4px;
		position: relative;
		margin-right: 10px;
	}
	.radio-custom {
		border-radius: 50%;
	}
	.radio-custom,
	.checkbox-custom,
	.label {
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		font-weight: 500;
		color: #a4a4a4;
		cursor: pointer;
	}
	input[type="radio"]:checked,
	input[type="checkbox"]:checked {
		+ .radio-custom,
		+ .checkbox-custom {
			background: $red;
			border-color: $red;
			+ .label {
				color: #474747;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 2px;
				left: 4px;
				width: 6px;
				height: 8px;
				border-right: 2px solid #fff;
				border-bottom: 2px solid #fff;
				transform: rotate(45deg);
			}
		}
	}
	input[type="radio"]:checked {
		+ .radio-custom {
			&:before {
				top: 4px;
				width: 6px;
				height: 6px;
				background: #fff;
				border-radius: 50%;
				border: 0;
			}
		}
	}
}

.inner_product {
	margin-top: 50px;
	.dropdown_menu {
		display: none;
	}
	.white_box {
		border-radius: 8px;
	}
	.row-1 {
		margin-bottom: 30px;
	}
	.row-2 {
		.white_box {
			padding: 0;
			overflow: hidden;
		}
	}
	h1 {
		font-family: 'GothamPro';
		font-size: 24px;
		line-height: 23px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	#sync2 {
		.owl-item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
		}
	}
	.product {
		&__img {
			padding: 0 115px 70px 115px;
			&--sm {
				border: 1px solid #efefef;
				width: 100px;
				height: 100px;
				padding: 10px;
				display: flex;
    		align-items: center;
				cursor: pointer;
				@include transition(all, .2s);
				&:hover {
					border-color: #9c9c9c;
				}
				img {
					max-width: 100%;
				}
			}
		}
		&_article {
			font-size: 13px;
			opacity: .75;
			margin-top: 15px;
			margin-bottom: 40px;
			span {
				font-weight: 600;
			}
		}
		&_top_char {
			display: inline-block;
			font-size: 13px;
			span {
				font-weight: 600;
			}
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
		&_instock {
			margin: 40px 0 15px;
			font-weight: 600;
			font-size: 13px;
			&.instock {
				color: #00863D;
				&:before {
					position: relative;
					content: '';
					top: -3px;
					margin-right: 10px;
					display: inline-block;
					width: 10px;
					height: 6px;
					border-left: 2px solid #00863D;
					border-bottom: 2px solid #00863D;
					transform: rotate(-50deg);
				}
			}
			&.outstock {
				color: $red;
				margin-bottom: 40px;
				+ .product__favourites {
					display: inline-block;
					margin-bottom: 40px;
				}
			}
		}
		&__price {
			display: inline-block;
			font-size: 24px;
			line-height: 28px;
			font-weight: 700;
			&:after {
				display: inline-block;
				content: '\20BD';
				margin-left: 4px;
				font-size: 22px;
			}
			&--old {
				display: block;
			  font-size: 14px;
			  font-weight: 700;
			  color: #d1d1d1;
			  text-decoration: line-through;
			  margin-bottom: 5px;
				&:after {
					display: inline-block;
					content: '\20BD';
					margin-left: 4px;
					font-size: 14px;
				}
			}
		}
		&__count {
			float: right;
		}
		&__addcart {
			margin-top: 40px;
			display: flex;
			a {
				color: #fff;
				width: 100%;
				&.btn-grey {
					margin-top: 0;
					color: #a4a4a4;
					font-weight: 700;
					font-size: 13px;
					box-shadow: none;
				}
			}
			a.btn {
				flex-grow: 1;
			}
		}
		&__favourites {
			color: #afafaf;
			line-height: 34px;
			text-decoration: none;
			@include transition(all, .2s);
			&:before {
				position: relative;
				content: '';
				display: inline-block;
				width: 36px;
				height: 36px;
				border: 2px solid $red;
				border-radius: 50%;
				float: left;
				margin-right: 10px;
				background: url(../img/icon-heart-red.svg) no-repeat 50%;
				// background-size: 16px;
				@include transition(all, .2s);
			}
			&:hover {
				color: #474747;
				&:before {
					background: url(../img/icon-heart-red2.svg) no-repeat 50%;
					// background-size: 18px;
					border-color: darken($red, 20%);
				}
			}
		}
	}

	// .a-favourites {
	// 	color: #afafaf;
	// 	line-height: 34px;
	// 	text-decoration: none;
	// 	@include transition(all, .2s);
	// 	a {
	// 		color: #afafaf;
	// 		line-height: 34px;
	// 		text-decoration: none;
	// 	}
	// 	span {
	// 		text-align: center;
	// 		display: inline-block;
	// 		width: 36px;
	// 		height: 36px;
	// 		border: 2px solid $red;
	// 		line-height: 31px;
	// 		border-radius: 50%;
	// 		float: left;
	// 		margin-right: 10px;
	// 		@include transition(all, .2s);
	// 	}
	// 	path {
	// 		@include transition(all, .2s);
	// 	}
	// 	&:hover {
	// 		span {
	// 			border-color: darken($red, 20%);
	// 		}
	// 		path {
	// 			fill: darken($red, 20%);
	// 		}
	// 		a {
	// 			color: #474747;
	// 		}
	// 	}
	// }

	ul.nav-tabs {
		border-bottom: 0;
		display: flex;
		justify-content: space-between;
		li {
			// width: 25%;
			flex-grow: 1;
			a {
				display: block;
				font-weight: 600;
				background: #F1F1F1;
				text-align: center;
				color: #9d9d9d;
				padding: 15px;
				text-decoration: none;
				@include transition(all, .2s);
				&.active {
					background: #fff;
					color: #474747;
				}
			}
			&:hover {
				a {
					background: #e6e3e3;
				}
			}
		}
	}
	.tab-content {
		padding: 50px 30px;
		ul {
			padding: 0;
			padding-left: 15px;
		}
	}
}

.product {
	&__count {
		display: inline-block;
		border: 1px solid #E4E4E4;
		border-radius: 8px;
		height: 32px;
		.count_plus,
		.count_minus {
			height: 100%;
			display: inline-block;
			padding: 0 10px;
			font-weight: 500;
			font-size: 32px;
			line-height: 30px;
			color: #a4a4a4;
			cursor: pointer;
		}
		.count_minus {
			float: left;
			line-height: 25px;
		}
		.count_plus {
			float: right;
		}
		.count_value {
			width: 50px;
			height: 30px;
			text-align: center;
			border: 0;
			outline: none;
			font-weight: 700;
			font-size: 15px;
			-moz-appearance:textfield;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
			   -webkit-appearance: none;
			}
		}
	}
}

.tab_review_box {
	width: 50%;
	float: left;
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 30px;
	.name {
		width: 150px;
		float: left;
		font-weight: 500;
		color: #757575;
	}
	.title {
		font-weight: 700;
		margin-bottom: 10px;
	}
	.desc {
		padding-left: 150px;
		padding-right: 50px;
	}
}
.add_review {
	display: inline-block;
	margin-top: 15px;
	color: #757575;
	font-weight: 700;
	font-size: 15px;
	text-decoration: none;
	@include transition(all, .2s);
	&:hover {
		color: #474747;
		text-decoration: none;
	}
	&.top {
		display: none;
	}
}
.product_also_buy {
	.h2 {
		text-align: center;
		margin: 60px auto 30px;
	}
}

.inner_action_product {
	.h2 {
		text-align: center;
		margin: 40px auto 30px;
		color: $red;
	}
}

.label__red,
.label__green {
	display: inline-block;
	color: #fff;
	border-radius: 10px;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	padding: 4px 12px;
}
.label__red {
	background: $red;
}
.label__green {
	background: #22B866;
}

.view_cart {
	.row_cart {
		color: #757575;
		font-weight: 500;
		margin-bottom: 70px;
		&__img {
			width: 100px;
		}
		&__title {
			width: 300px;
			a {
				display: inline-block;
				font-weight: 600;
				font-size: 14px;
				color: #474747;
				text-decoration: none;
				margin-bottom: 10px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__art {
			font-size: 13px;
			color: #757575;
		}
		&__price {
			&:after {
				display: inline-block;
				content: '\20BD';
				margin-left: 4px;
			}
			&--total {
				font-size: 15px;
				font-weight: 700;
				color: #474747;
				&:after {
					display: inline-block;
					content: '\20BD';
					margin-left: 4px;
				}
			}
			.old {
				display: block;
				color: #d1d1d1;
				text-decoration: line-through;
				margin-bottom: 8px;
				&:after {
					display: inline-block;
					content: '\20BD';
					margin-left: 4px;
				}
			}
			&.noitem {
				&:after {
					display: none;
				}
			}
		}
		&__addcart {
			width: 224px;
			.btn {
				width: 100%;
			}
			.btn-grey {
				margin-top: 0;
				box-shadow: none;
				width: 100%;
			}
		}
		&__delete {
			width: 76px;
			text-align: right;
			a {
				font-size: 13px;
				color: #757575;
				text-decoration: none;
				&:before {
					position: relative;
					top: 2px;
					right: -20px;
					padding: 5px;
					display: inline-block;
					content: 'Удалить';
					opacity: 0;
					@include transition(all, .2s);
				}
				&:hover {
					&:before {
						right: 0;
						opacity: 1;
					}
				}
			}
		}
		.label__red,
		.label__green {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
	.cart_total {
		font-weight: 13;
		line-height: 19px;
		margin-bottom: 40px;
		span {
			font-size: 21px;
			font-weight: 600;
		}
		&--sale {
			font-size: 14px;
			margin-bottom: 15px;
			span {
				font-weight: 600;
				font-size: 16px;
				color: $red;
			}
		}
	}
}

.error404 {
	position: relative;
	text-align: center;
	padding: 130px 0 0;
	&__aibolit {
		position: absolute;
		left: 30px;
		width: 238px;
		height: 360px;
		background: url(../img/3cca3b7a4.jpg) no-repeat 0 50%;
		span {
			position: absolute;
			top: 20px;
			left: 220px;
			width: 220px;
			font-size: 18px;
			line-height: 22px;
			font-style: italic;
			text-align: left;
			transform: rotate(-20deg);
		}
	}
	&__title {
		margin: 30px 0 40px;
		font: 700 24px/23px 'GothamPro';
	}
	&__text {
		font: 600 18px/26px 'Raleway';
		color: #747474;
		margin-bottom: 15px;
	}
	&__link {
		a {
			font: 500 13px/15px 'Raleway';
			color: #a2a2a2;
			text-decoration: none;
			border-bottom: 1px solid #a2a2a2;
		}
	}
}


.search_result {
	.product_cart {
		margin-bottom: 30px;
	}
	&__category {
		margin-bottom: 30px;
		font-size: 13px;
		line-height: 15px;
		a {
			display: inline-block;
			color: #474747;
			font-weight: 600;
			text-decoration: none;
		}
		span {
			font-weight: 500;
			color: #a2a2a2;
			margin-right: 25px;
		}
	}
}

.action_cart {
	margin-bottom: 30px;
	&__box {
		background: #fff;
		border: 1px solid #EFEFEF;
	}
	&__img {
		img {
			width: 100%;
		}
	}
	&__title {
		padding: 30px;
		a {
			font: 600 15px/18px 'Raleway';
			color: #474747;
			text-decoration: none;
		}
	}
}

.step_order_cart {
	.h2 {
		display: inline-block;
		margin-bottom: 50px;
	}
	.edit_order {
		float: right;
		margin-top: 8px;
		a {
			font-size: 13px;
			color: #a4a4a4;
			font-weight: 500;
			text-decoration: none;
		}
	}
}

.link-right {
	float: right;
	a {
		color: #757575;
		text-decoration: none;
		@include transition(all, .2s);
		&:hover {
			color: $red;
		}
	}
}

.user_cabinet {
	.h2 {
		display: inline-block;
		margin-bottom: 30px;
	}
	.link-right {
		margin-top: 12px;
	}
	.white_box {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.order_history table {
	table-layout: fixed;
	font-size: 13px;
	width: 100%;
	th {
		font-weight: 600;
		padding-bottom: 25px;
		&:first-child {
			width: 50px;
		}
	}
	td {
		font-weight: 500;
		color: #757575;
		padding-bottom: 15px;
	}
	tr:last-child {
		td {
			padding-bottom: 0;
		}
	}
}
#order_delivery {
	display: none;
}
.icon_soc {
	margin-bottom: 30px;
	font-size: 14px;
	color: #a4a4a4;
	&:last-child {
		margin-bottom: 0;
	}
	img {
		margin-right: 20px;
	}
	a.add {
		color: #a4a4a4;
		text-decoration: none;
	}
	a.del {
		color: #a4a4a4;
		text-decoration: none;
		margin-left: 40px;
		@include transition(all, .2s);
		&:hover {
			color: $red;
		}
	}
}
.row_form {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
	&__title {
		color: #757575;
		font-weight: 700;
		font-size: 16px;

		margin-bottom: 30px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			label.custom {
				margin-bottom: 20px;
			}
			&:last-child {
				label.custom {
					margin-bottom: 0;
				}
			}
		}
	}
	textarea,
	input {
		width: 100%;
		border: 1px solid #E4E4E4;
		border-radius: 8px;
		color: #757575;
		font-size: 13px;
		font-weight: 500;
		line-height: 15px;
		padding: 10px 20px;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		&[type="radio"] {
			width: auto;
		}
	}
	&.agree {
		.left,.right {
			display: inline-block;
			width: 50%;
		}
		.left {
			float: left;
			.custom {
				margin-bottom: 3px;
			}
			a {
				color: #0076BF;
				font-size: 13px;
				font-weight: 500;
				text-decoration: underline;
				margin-left: 25px;
			}
		}
		.right {
			float: right;
			text-align: right;
			font-weight: 600;
			font-size: 13px;
			span {
				font-size: 21px;
			}
			.sale {
				margin-bottom: 15px;
				span {
					font-size: 16px;
					color: $red;
				}
			}
		}
	}
	&.adress {
		textarea {
			margin-top: 20px;
		}
	}
}



.row_order_cart {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
	&__title {
		padding-right: 80px;
		margin-bottom: 15px;
		a {
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			color: #474747;
			text-decoration: none;
		}
	}
	&__char,
	&__count {
		color: #757575;
		font-size: 13px;
		margin-bottom: 10px;
	}
	&__count {
		display: inline-block;
	}
	&__price {
		float: right;
		display: inline-block;
		span {
			font-size: 15px;
			font-weight: 600;
		}
	}
}

.order_done {
	&__number {
		text-align: center;
		margin: -30px 0 10px;
		font: 500 16px/19px 'Raleway';
		span {
			font-weight: 700;
		}
	}
	&__text {
		text-align: center;
		font: 500 16px/19px 'Raleway';
		margin-bottom: 60px;
		color: #c9c9c9;
	}
	.more {
		margin-top: 50px;
		padding-left: 40px;
		padding-right: 40px;
	}
}
.return {
	text-align: center;
	margin-top: 30px;
	a {
		color: #a2a2a2;
	}
}

.contacts {
	.white_box {
		border-radius: 8px;
		font: 500 15px/18px 'Raleway';
	}
	.h2 {
		font: 700 28px/27px 'GothamPro';
		margin-bottom: 30px;
	}
	.row-phone {
		background: url(../img/icon-phone.svg) no-repeat 0 50%;
		padding-left: 30px;
		line-height: 18px;
		margin-bottom: 30px;
		a {
			color: #474747;
			text-decoration: none;
		}
	}
	.row-mail {
		background: url(../img/icon-mail.svg) no-repeat 0 50%;
		padding-left: 30px;
		line-height: 18px;
		margin-bottom: 30px;
		a {
			color: #474747;
			text-decoration: none;
		}
	}
	.row-place {
		background: url(../img/icon-place.svg) no-repeat 0 50%;
		padding-left: 30px;
		line-height: 18px;
	}
	.row-map {
		margin-top: 30px;
		margin-bottom: -60px;
	}
}

#ya_addr {
	width: 100%;
	height: 350px;
}

.form {
	width: 100%;
	input,
	textarea {
		margin-bottom: 30px;
		border: 1px solid #E4E4E4;
		border-radius: 8px;
		width: 100%;
		padding: 10px 20px;
		font: 500 13px/15px 'Raleway';
		outline: none;
		@include transition(all, .2s);
		&:focus {
			border-color: #474747;
		}
	}
	button {
		display: inherit;
		margin: 0 auto;
		padding: 10px 60px;
	}
}

.owl-carousel {
	.owl-stage-outer {
		position: relative;
		+ .owl-nav {
			.owl-prev,
			.owl-next {
				position: absolute;
				top: 50%;
				background: transparent;
				border: 0;
				outline: none;
				span {
					display: none;
				}
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					display: inline-block;
					width: 15px;
					height: 15px;
					border-right: 3px solid #cfcfcf;
					border-bottom: 3px solid #cfcfcf;
				}
			}
			.owl-prev {
				transform: rotate(135deg);
				left: 0;
			}
			.owl-next {
				transform: rotate(-45deg);
				top: calc(50% - 8px);
				right: 0;
			}
		}
	}
	.owl-dots {
		background: #efefef;
		margin: 0 15px;
		display: flex;
		border-radius: 3px;
		overflow: hidden;
		button {
			background: #efefef;
			border: 0;
			height: 4px;
			flex-grow: 1;
			outline: none;
			&.active {
				background: #cbcbcb;
				border-radius: 3px;
			}
			&:focus {
				outline: none;
			}
		}
	}
}

.modal {
	overflow-y: hidden;
	&-dialog {
		position: relative;
		max-width: 362px;
	}
	&-title {
		color: #000;
		text-transform: uppercase;
		font-weight: 700;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	&-content {
		position: relative;
		border-radius: 8px;
		padding: 45px 30px 40px;
		.h2 {
			text-align: center;
			font: 700 24px/23px 'GothamPro';
			margin-bottom: 40px;
		}
		ul {
			margin-top: 30px;
			padding: 0;
			list-style: none;
			li {
				a {
					display: block;
				}
			}
		}
		label {
			font-size: 14px;
		}
		.popup_footer {
			button {
				margin-top: 30px;
				width: 100%;
				margin-bottom: 10px;
			}
			a {
				display: block;
				margin-top: 15px;
				font-size: 13px;
				color: #a4a4a4;
				text-decoration: none;
				@include transition(all, .2s);
				&:hover {
					color: $red;
				}
			}
		}
		.row_form {
			margin-bottom: 0;
			input {
				width: 100%;
				margin-right: 0;
			}
		}
	}
	.close {
		position: absolute;
		top: -56px;
		right: -50px;
		font-size: 52px;
		color: #fff;
		font-weight: 400;
		text-shadow: none;
		padding: 6px 12px;
		outline: none;
		opacity: 1;
		@include transition(all, .2s);
		&:hover {
			color: $red !important;
			opacity: 1 !important;
		}
	}
	.popup__desc {
		font-size: 12px;
		margin-top: 10px;
		color: #1d1d1d;
		text-align: center;
		a {
			text-decoration: underline;
			color: #1d1d1d;
		}
	}
	.modal_social {
		position: absolute;
		text-align: center;
		width: 100%;
		color: #fff;
		font-size: 13px;
		left: 0;
		bottom: -50px;
		ul {
			li {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
}
.modal-backdrop.show {
	opacity: .95;
	background: #353535;
}


.dropdown_menu {
	position: relative;
	display: inline-block;
	.dropdown_select {
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			position: relative;
			margin-left: 10px;
			left: 0;
			bottom: -12px;
			border: 6px solid transparent;
			border-top: 6px solid #747474;
		}
	}
	.dropdown_list {
		position: absolute;
		right: 0;
		top: 15px;
		display: none;
		text-align: left;
		z-index: 200;
		background: #fff;
		border: 1px solid #EFEFEF;
		padding: 15px;
		box-shadow: 0 3px 8px rgba(0,0,0,.1);
		span {
			display: block;
			margin-bottom: 10px;
			cursor: pointer;
			white-space:nowrap;
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				color: #474747;
			}
		}
	}
	&:hover {
		.dropdown_list {
			display: inline;
		}
	}
}

.history {
	margin-bottom: 30px;
	&__number {
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 10px;
	}
	&__detail {
		.char {
			display: flex;
			margin-bottom: 5px;
		}
		.label {
			width: 100%;
  		max-width: 80px;
			margin-right: 10px;
		}
	}
	&__footer {
		border-top: 1px solid #EFEFEF;
		margin-top: 15px;
		padding-top: 15px;
		.print {
			margin-top: 10px;
			color: #474747;
			float: right;
			svg {
				margin-right: 10px;
			}
		}
	}
}

#dark_bg_modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 200;
	transition: opacity .15s linear;
	&.act {
		display: block;
	}
}

.hide {
	display: none;
}
